{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="col-md-offset-3 col-md-6">
        <div class="col-md-12">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="col-md-12">
            <p>
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </p>
        </div>

        <div class="col-md-12">
            <p>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </p>
        </div>

        <div class="col-md-12">
			<div class="col-md-6">
				<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
			</div>
			<div class="col-md-6">
				<a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                <br/>
				<a href="{{ path('fos_user_resetting_request') }}">Forgotten Password</a>
			</div>
        </div>
    </div>
</form>
