::selection {
    color: #FFF;
    background-color: #630b00;
}
::-moz-selection {
    color: #FFF;
    background-color: #630b00;
}

.disabled {
    background-color: #666666 !important;
}

table td, table th {
    border: 1px solid #630b00;
    padding: 8px;
}

/* Accordions */
button.accordion {
    border: 1px solid #630b00;
}

button.accordion.active, button.accordion:hover {
    background-color: #630b00;
    color: #FFF;
}

.smooth-hover.creation {
    border-left: 1px solid #222;
    border-right: 1px solid #222;
}

.side-header #header {
    background-color: #222;
}

#header.dark #primary-menu ul li:hover,
#header.dark #primary-menu ul li.active {
    background-color: #630b00;
}

a.onglet {
	background-color: #630b00;
	color: #FFF;
}

a.onglet:hover {
	border-color: #630b00;
}

.liste-samurai {
    margin-top: 70px;
}

.xp {
    margin-top: 50px;
    border: 1px solid black;
    padding: 20px;
}

.see-more {
    border: 1px solid #630b00;
}

.see-more i {
    background-color: #630b00;
    color: white;
}

#chatbox {
    border: 1px solid #6b9311;
    position: fixed;
    bottom: 280px;
    right: 10px;
    width: 240px;
    min-height: 240px;
    height: 240px;
    background-color: white;
    padding: 5px;
    z-index: 10;

    display: none;
}

#toggle-chatbox {
    bottom: 260px;
    height: 20px;
    width: 240px;
    position: fixed;
    right: 10px;
    background-color: #959595;
    padding-top: 0px;
    border-radius: 0;
    font-weight: bold;

    display: none;
}

#boite-a-jets {
    border: 1px solid #6b9311;
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 240px;
    height: 240px;
    background-color: white;
    padding: 5px;
    z-index: 10;
}

#boite-a-jets .preparation-jet {
    height: 120px;
    width: 100%;
    border-bottom: 1px solid black;
}

#boite-a-jets .preparation-jet > div:first-child {
    display: flex;
    width: 135px;
    margin-left: auto;
    margin-right: auto;
}

#boite-a-jets .preparation-jet > div:nth-child(2) {
    width: 100%;
    text-align: right;
}

#boite-a-jets .preparation-jet > div:nth-child(3) {
    text-align: center;
}


#boite-a-jets .preparation-jet > div:nth-child(3) > button {
    width: 60%;
}

#des-gardes, #des-lances, #boite-a-jets .preparation-jet p {
    width: 45px;
    font-size: 26px;
    text-align: center;
    border: none;
}

#boite-a-jets .preparation-jet p {
    padding-top: 6px;
}

#boite-a-jets .resultat {
    text-align: center;
}

.toggle-des {
    cursor: pointer;
}

#resultat-total {
    font-size: 40px;
    font-weight: 900;
}

.ui-dialog.ui-widget.ui-widget-content {
    border: 2px solid #6b9311;
    box-shadow: 6px 1px 12px 4px rgba(0, 0, 0, 0.2);
}

#notes-perso {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.technique {
	cursor: pointer
}

.technique_a_choisir {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	border: 1px solid #222;
}

.technique_a_choisir.active {
	box-shadow: 2px 1px 12px 7px #630b00;
}

.boutons {
	float: right;
	margin-bottom: 20px;
}

.cliquable {
    color: #630b00;
    font-weight: 700;
}

.cliquable:hover {
    text-decoration: underline;
    cursor: pointer;
}

.lien-reco {
    border: 1px solid #630b00;
}

#editer-perso input {
    display: inline-block;
    width: 40px;
    float: right;
}

.smooth-hover-japonais {
    /*background-color: white;*/
    max-width: 0px;
    height: 100%;
    overflow: hidden;
    transition: max-width 0.2s ease-out;
    margin-bottom: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    float: left;
    border: 1px solid #630b00;
}

.smooth-hover-japonais:not(.header) {
    overflow-y: scroll;
}

.partie-block{
	height: 80px;
}

#carte canvas {
    border: 1px solid red;
    position: absolute;
}