.samurai-card {
    cursor: pointer;
    text-align: center;
    border: 1px solid #6b9311;
    margin-bottom: 50px;
    height: 270px;
}

.samurai-card:hover {
    box-shadow: 6px 1px 12px 4px rgba(0, 0, 0, 0.2);
}

.samurai-card div:first-child {
    height: 40px;
}