/*#table-competences td, #table-competences th, #table-competences tr {*/
    /*border: none;*/
/*}*/

/*#table-competences tr {*/
    /*border-left: 2px solid #630b00;*/
    /*border-right: 2px solid #630b00;*/
/*}*/

/*#table-competences.table tr:nth-child(odd) {*/
    /*border-top: 2px solid #630b00;*/
/*}*/

/*#table-competences.table tr:nth-child(even) {*/
    /*border-bottom: 2px solid #630b00;*/
    /*border-top: 1px solid #630b00;*/
/*}*/

table.anneaux td, table.anneaux tr {
    border: none;
    background-color: transparent;
}

.anneaux tr:first-child > td:first-child {
    text-align: center;
}

table.anneaux {
    margin-bottom: 50px;
}

#filtres {
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
}

.card.sort {
	height: 455.5px;
	overflow-y: hidden;
}

.card.sort .description {
	overflow-y: scroll;
	height: 130px;
}

.sort.disabled > .card-body{
	background-color: #BBB !important;
}