{% extends "DForumBundle::layout.html.twig" %}

{% block titre %}Index Forums{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
.category {
    padding-top:30px;
    height:250px;
    margin-top:20px;
}
</style>
{% endblock %}

{% block mainContent %}
    <h1 class="text-center">{{ 'discutea.forum.forumlist'|trans }}</h1>
    <div class="col-md-12">
        {% for category in categories if is_granted('CanReadCategory', category) %}

            <h2>{{ category.name }}</h2>
            <hr />
            <div class="row forum-category-bloc">
                {% for forum in category.forums %}
                    <div class="samurai-card col-xs-12 col-sm-6 col-md-4">
                        <a href="{{ path('discutea_forum_topic', {'slug': forum.slug}) }}" title="{{ forum.name }}">
                            <div class="">
                                <div class="category thumbnail text-center forum-box color-dark">
                                    <h3><a href="{{ path('discutea_forum_topic', {'slug': forum.slug}) }}" title="{{ forum.name }}">{{ forum.name }}</a></h3>
                                    <p>{{ forum.description }}</p>
                                    <hr />
                                    <div class="text-center">
                                        {% set lastTopic = dfLastTopicInForum(forum) %}
                                        {% if lastTopic is not null %}
                                            {% if lastTopic.posts.last.poster is not null %}
                                                {% set username = lastTopic.posts.last.poster.username %}
                                            {% else %}
                                                {% set username = 'discutea.forum.deleted.user'|trans %}
                                            {% endif %}
                                            <a class="lastComment" href="{{ dfLastPostPages(lastTopic.posts.last) }}">
                                                <p>
                                                    {{ 'discutea.forum.lastpostby'|trans }} <strong>{{ username }}</strong>
                                                    <br />{{ lastTopic.posts.last.date|date("Y-m-d H:i:s") }}
                                                </p>
                                            </a>
                                        {% else %}
                                            <p>{{ 'discutea.forum.null'|trans }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <p class="text-center"><a class="btn btn-primary" href="{{ path('discutea_forum_create_forum', {'id': category.id}) }}">{{ 'discutea.forum.category.addforum'|trans }}</a></p>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center"><a class="btn btn-primary" href="{{ path('discutea_forum_create_category') }}"> {{ 'discutea.forum.category.createnew'|trans }} </a></p>
        {% endfor %}
    </div>
{% endblock %}
