{% extends 'default/layout.html.twig' %}

{% block titre %}{{ 'a_venir.title'|trans }}{% endblock %}

{% block mainContent %}
<div class="card">
    <div class="card-body">

        {# Mises à jour #}
        <div class="col-md-6">
            <h3 class="titre">{{ 'a_venir.updates'|trans }}</h3>
            <table>
                <thead>
                    <tr>
                        <th>{{ 'Date'|trans }}</th>
                        <th>{{ 'a_venir.new'|trans }}</th>
                    </tr>
                </thead>
                <body>
                    <tr>
                        <td>15-01-2018</td>
                        <td>
                            <ul>
                                <li><strong>MJ :</strong> Création et édition d'avantages et désavantages</li>
                                <li><strong>MJ :</strong> Limitation de l'édition des pnjs, armes, armures, avantages et
                                    désavantages à ceux de la partie.</li>
                                <li><strong>Joueur :</strong> Réduction du temps de l'alerte.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>18-01-2018</td>
                        <td>
                            <ul>
                                <li><strong>MJ :</strong> Résolution d'un bug qui empêchait de choisir un avantage ou
                                désavantage pour un pnj.</li>
                                <li><strong>Joueur :</strong> Ajout d'un rang Décédé pour les rangs de Blessures.</li>
                                <li><strong>Joueur :</strong> Plus d'alerte lors de la modification des Blessures
                                    (trop d'alertes s'affichaient, rendant la page illisible).</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>28-01-2018</td>
                        <td>
                            <ul>
                                <li><strong>MJ :</strong> Création et édition de techniques personnalisées.</li>
                                <li><strong>MJ :</strong> Correction d'un bug qui faisait perdre de l'xp au lieu d'en
                                    rajoutant lors de l'obtention d'un désavantage.</li>
                                <li><strong>Joueur :</strong> Page combat à la place d'une popup.</li>
                                <li><strong>Joueur :</strong> Notes et provisions communes au groupe. Lorsque quelqu'un
                                les éditent, les notes vont se mettrent à jour sur la feuille des autres joueurs.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>10-02-2018</td>
                        <td>
                            <ul>
                                <li><strong>Joueur :</strong> Possibilité de tracer son trajet sur la carte.</li>
                                <li><strong>Joueur :</strong> Vue simplifiée pour les compétences.</li>
                                <li><strong>Joueur :</strong> Bug lors de l'achat de flèches.</li>
                            </ul>
                        </td>
                    </tr>
                </body>
            </table>
        </div>
        {# End Mises à jour #}

        {# TODOs #}
        <div class="col-md-offset-1 col-md-5">
            <h3 class="titre">En cours...</h3>
            <p>Création et édition de sorts pour le mj, avec l'attribut 'officiel' ou non.</p>
            <p>Création et édition d'écoles pour le mj, avec l'attribut 'officiel' ou non.</p>
            <p>Création d'un 'marché' dans lequel les mj pourraient publier leurs créations et les partager avec
            d'autres.</p>
            <p>Correction d'un bug pour les sorts (ils devraient être gratuits).</p>
        </div>
    </div>
</div>
{% endblock %}