{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/character-sheet.css') }}">
{% endblock %}
{% block titre %}{{ 'tutopc_page.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block mainContent %}
<div class="card tuto">
    <div class="card-body">
        <h1 class="titre">{{ 'tutopc_page.title'|trans }}</h1>

        <h2 class="titre">{{ 'character_creation'|trans }}</h2>
        {{ 'tutopc_page.1'|trans|raw }}

        <div class="separateur"></div>

        <h2 class="titre">{{ 'tutopc_page.qu_character_sheet'|trans }}</h2>

        <h3 class="titre">{{ 'tutopc_page.roll_dice'|trans }}</h3>
    <p>{{ 'tutopc_page.2'|trans }}
    </p> <br/>
        <div class="col-md-12">
            <div class="col-md-7 mb-50">
                {{ 'tutopc_page.3'|trans }}
            </div>
            <div class="col-md-5 block-anneaux">

                <div class="anneau terre">
                    <div class="col-md-8 traits">
                        <div class="col-md-12">
                            <div class="col-md-9 legende"><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.trait.constitution'|trans }}</a></div>
                            <div id="constitution" class="cercle col-md-3 valeur">2</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-9 legende"><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.trait.will'|trans }}</a></div>
                            <div id="volonte" class="cercle col-md-3 valeur">2</div>
                        </div>
                    </div>
                    <div class="col-md-4 anneau-image">
                        <h4><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.ring.earth'|trans }}</a></h4>
                        <img src="{{ asset('build/images/earth.png') }}" width="60"/>
                        <div id="terre" class="cercle valeur">2</div>
                    </div>
                </div>

                <div class="anneau air">
                    <div class="col-md-5 anneau-image">
                        <h4><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.ring.air'|trans }}</a></h4>
                        <img src="{{ asset('build/images/air.png') }}" width="60"/>
                        <div id="air" class="cercle valeur">2</div>
                    </div>
                    <div class="col-md-7 traits">
                        <div class="col-md-12">
                            <div id="reflexes" class="cercle col-md-3 valeur">2</div>
                            <div class="col-md-9 legende"><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.trait.reflexes'|trans }}</a></div>
                        </div>
                        <div class="col-md-12">
                            <div id="intuition" class="cercle col-md-3 valeur">3</div>
                            <div class="col-md-9 legende"><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.trait.awareness'|trans }}</a></div>
                        </div>
                    </div>
                </div>

                <div class="anneau eau">
                    <div class="col-md-8 traits">
                        <div class="col-md-12">
                            <div class="col-md-9 legende"><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.trait.strength'|trans }}</a></div>
                            <div id="force" class="cercle col-md-3 valeur">2</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-9 legende"><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.trait.perception'|trans }}</a></div>
                            <div id="perception" class="cercle col-md-3 valeur">3</div>
                        </div>
                    </div>
                    <div class="col-md-4 anneau-image">
                        <div id="eau" class="cercle valeur">2</div>
                        <img src="{{ asset('build/images/water.png') }}" width="60"/>
                        <h4><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.ring.water'|trans }}</a></h4>
                    </div>
                </div>

                <div class="anneau feu">
                    <div class="col-md-5 anneau-image">
                        <div id="feu" class="cercle valeur">3</div>
                        <img src="{{ asset('build/images/fire.png') }}" width="60"/>
                        <h4><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.ring.fire'|trans }}</a></h4>
                    </div>
                    <div class="col-md-7 traits">
                        <div class="col-md-12">
                            <div id="agilite" class="cercle col-md-3 valeur">3</div>
                            <div class="col-md-9 legende"><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.trait.agility'|trans }}</a></div>
                        </div>
                        <div class="col-md-12">
                            <div id="intelligence" class="cercle col-md-3 valeur">4</div>
                            <div class="col-md-9 legende"><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.trait.intelligence'|trans }}</a></div>
                        </div>
                    </div>
                </div>

                <div class="anneau vide">
                    <div class="col-md-offset-4 col-md-4 anneau-image">
                        <div id="vide" class="cercle valeur">2</div>
                        <img src="{{ asset('build/images/void.png') }}" width="60"/>
                        <h4><a href="#" class="bouton-preparation-lancer trait">{{ 'samurai.ring.void'|trans }}</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="titre">{{ 'tutopc_page.customise_pc'|trans }}</h3>
        <div class="col-md-12">
            <div class="col-md-4">
                <img src="{{ asset('build/images/Tutos/calque-arme.png') }}" style="width: 100%;">
            </div>
            <div class="col-md-8 mt-50">
                {% set path = path('samurai', ({ 'id': 10, '_locale': app.request.locale })) %}
            	{{ 'tutopc_page.4'|trans({'%href%': path})|raw }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('build/character-sheet.js') }}"></script>
{% endblock %}