{% extends 'default/layout.html.twig' %}

{% block titre %}{{ 'partner_page.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block mainContent %}

    <div class="card">
        <div class="card-body">
            <h2 class="titre">{{ 'partner_page.title'|trans }}</h2>

            <div class="lien-reco row">
                <a href="https://dualwielding.itch.io/" title="{{ 'partner_page.dw_title'|trans }}">
                    <div class="">
                        <div class="col-sm-12 col-md-3">
                            <img src="https://img.itch.zone/aW1hZ2UvMTgyNDY1Lzg1MzAxNS5wbmc=/315x250%23c/fpJep%2B.png">
                        </div>
                        <div class="col-sm-12 col-md-9 texte">
                            <h3>... Dual Wielding</h3>
                            {{ 'partner_page.dual_wielding'|trans|raw }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}