<div class="col-md-12 vue-detaillee">
    <div class="col-md-6">
        <section id="avantages">
            <h3 class="titre">{{ 'Advantages'|trans }}</h3>
            <table>
                <tr>
                    <th>{{ 'Nom'|trans }}</th>
                    <th>Description</th>
                    <th>{{ 'perso_notes'|trans }}</th>
                    <th>{{ 'Hide'|trans }}</th>
                </tr>
                {% for avantage in avantages if est_proprio or avantage.perso.estCache != 1 %}
                    <tr>
                        <td class="center" style="width: 150px">{{ avantage.vanilla.nom|trans({}, 'advantages')|default('') }}</td>
                        <td>{{ avantage.vanilla.description|trans({}, 'advantages')|default('')|raw }}</td>
                        <td><textarea class="resume-avantage" data-id="{{ avantage.perso.id }}">
                                {{ avantage.perso.resume|default('') }}
                            </textarea>
                        </td>
                        {% if  est_proprio %}
                        <td><input type="checkbox" class="est-cache-avantage" data-id="{{ avantage.perso.id }}"
                                   {% if avantage.perso.estCache == 1 %}
                                    checked
                                   {% endif %}
                            />
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </section>
        <section id="desavantages">
            <h3 class="titre">{{ 'Disadvantages'|trans }}</h3>
            <table>
                <tr>
                    <th>{{ 'Nom'|trans }}</th>
                    <th>Description</th>
                    <th>{{ 'perso_notes'|trans }}</th>
                    <th>{{ 'Hide'|trans }}</th>
                </tr>
                {% for desavantage in desavantages if est_proprio or desavantage.perso.estCache != 1 %}
                    <tr>
                        <td class="center" style="width: 150px">{{ desavantage.vanilla.nom|trans({}, 'disadvantages')|default('') }}</td>
                        <td>{{ desavantage.vanilla.description|trans({}, 'disadvantages')|default('')|raw }}</td>
                        <td><textarea class="resume-desavantage" data-id="{{ desavantage.perso.id }}">
                                {{ desavantage.perso.resume|default('') }}
                            </textarea>
                        </td>
                        {% if  est_proprio %}
                            <td><input type="checkbox" class="est-cache-desavantage" data-id="{{ desavantage.perso.id }}"
                                        {% if desavantage.perso.estCache == 1 %}
                                            checked
                                        {% endif %}
                                />
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </section>
    </div>

    <div class="col-md-6">
        <section id="techniques">
            <h3 class="titre">Techniques</h3>
            <table>
                <tr>
                    <th>{{ 'Rank'|trans }}</th>
                    <th class="center" style="width: 150px">{{ 'Nom'|trans }}</th>
                    <th>Description</th>
                </tr>
                {% for technique in techniques.usedTechniques %}
                    {% if technique is not null %}
                        {% if samurai.rang < technique.rangMinimum %}
                        <tr class="disabled technique" data-rang="{{ technique.rangMinimum }}" data-id="{{ technique.id }}"
                            data-voie="{{ technique.ecoleVoie|trans({}, 'techniques') }}" data-requiert="{% if technique.requiert is not null %}
                                        {{ 'Requires'|trans }}: {{ technique.requiert }}{% endif %}">
                        {% else %}
                            <tr class="technique" data-rang="{{ technique.rangMinimum }}" data-id="{{ technique.id }}"
                            data-voie="{{ technique.ecoleVoie|trans({}, 'techniques') }}" data-requiert="{% if technique.requiert is not null %}
                                        {{ 'Requires'|trans }}: {{ technique.requiert }}{% endif %}">
                        {% endif %}
                        {% for techniqueAlternative in techniques.alternativeTechniques if techniqueAlternative is not null and
                        techniqueAlternative.rangMinimum == technique.rangMinimum and techniqueAlternative.id != technique.id %}
                            <td class="hidden techniques-alternatives technique-{{ techniqueAlternative.id }}" data-id="{{ techniqueAlternative.id }}"
                                data-tech-alt-nom="{{ techniqueAlternative.nom|trans({}, 'techniques') }}"
                                data-voie="{{ techniqueAlternative.ecoleVoie|trans({}, 'techniques') }}" data-requiert="{% if techniqueAlternative.requiert is not null %}
                                       {{ 'Requires'|trans }}: {{ techniqueAlternative.requiert }}{% endif %}">
                                {{ techniqueAlternative.description|trans({}, 'techniques') }}</td>
                        {% endfor %}
                        <td>{{ technique.rangMinimum }}</td>
                        <td class="nom center" style="width: 150px">{{ technique.nom|trans({}, 'techniques') }}</td>
                        <td class="description">{{ technique.description|trans({}, 'techniques') }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </section>
    </div>
</div>