
        <nav>
            <button class="afficher-listes boutons" data-type="techniques" data-game-id="{{ app.user.gameId }}">Techniques</button>
            <button class="afficher-listes boutons" data-type="desavantages" data-game-id="{{ app.user.gameId }}">Désavantages</button>
            <button class="afficher-listes boutons" data-type="avantages" data-game-id="{{ app.user.gameId }}">Avantages</button>
            <button class="afficher-listes boutons" data-type="armures" data-game-id="{{ app.user.gameId }}">Armures</button>
            <button class="afficher-listes boutons" data-type="armes" data-game-id="{{ app.user.gameId }}">Armes</button>
            <button class="afficher-listes boutons disabled" data-type="pnjs" data-game-id="{{ app.user.gameId }}">PNJs</button>
        </nav>
        <div class="espace-listes"></div>