
{% if type == 'clan' %}
	
	<div class="col-md-12">
		{% if valeur.mon is not null %}
			<div class="col-sm-12 col-md-4 mon center">
				<img src="{{ asset('build/images/mon/'~valeur.mon)}}" width="200">
			</div>
		{% endif %}
		<h3 class="titre">{{ valeur.nom|trans }}</h3>

        {% if valeur.statut != 'autre' %}
			<p>{{ ('clan_' ~ valeur.statut)|trans({}, 'clans') }}</p>
        {% endif %}

		<div class="description">
			<p>{{ valeur.description|trans({}, 'clans') }}</p>
		</div>
	</div>

{% elseif type == 'famille' %}
	<h3 class="titre">
		{{ 'name_Family'|trans({'%nom%': valeur.nom|trans({}, 'families')}) }}
	</h3>
	<div class="description">
		<p>{{ 'bonus_trait'|trans }}: {{ valeur.traitBonus|trans }}</p>
		<p>{{ valeur.description|trans({}, 'families') }}</p>
	</div>

{% elseif type == 'ecole' %}
    {% set aEquipement = valeur.equipement|split(', ') %}

	<h3 class="titre">{{ valeur.nom|trans({}, 'schools') }}</h3>
	
	<div class="description">
		<p>{{ 'school_type'|trans({'%type%': valeur.type|trans }) }}</p>
		<p><strong>{{ 'bonus_trait'|trans }}</strong> : {{ valeur.traitBonus|trans }}</p>
		{{ valeur.description|trans({}, 'schools') }}
	</div>
	
	<div class="separateur"></div>
	
	<p><strong>{{ 'school.starting_honour'|trans }}</strong> : {{ valeur.honneurDepart }}</p>
	<p><strong>{{ 'school.school_skills'|trans }}</strong>: {{ valeur.competencesAffichees|trans({}, 'schools') }}</p>
	<p><strong>{{ 'Equipement'|trans }}</strong>:
		{% for equipement in aEquipement %}
			{{ equipement|trans({}, 'items') }},
		{% endfor %}
	</p>
	{% if valeur.type|trans|lower == 'shugenja' %}
        {% set aSorts = valeur.sorts|split(', ') %}
		<p><strong>{{ 'aff_def'|trans }} </strong>: {{ valeur.affinite|trans }} / {{ valeur.deficience|trans }}</p>
		<p><strong>{{ 'Spells'|trans }} </strong>:
			{% for sort in aSorts %}
				{% if sort|first in [1,2,3] %}
					{% set nombre_sorts = sort|split(' ') %}
					  {% for element in nombre_sorts %}
						  {{ element|trans({}, 'spells') }}
					  {% endfor %}
				{% else %}
					{{ sort|trans({}, 'spells') }},
				{% endif %}
			{% endfor %}
		</p>
	{% endif %}
	
	<div class="separateur"></div>
	
	<h4>{{ 'school.school_techniques'|trans }}</h4>
	{% for technique in techniques %} 
		{% if technique != 'aucune' %}
		<div class="col-md-12 technique">
			<h5 class="titre">{{ 'Rank'|trans }} {{ technique.rangMinimum }} : {{ technique.nom|trans({}, 'techniques') }}</h5>
			<div>{{ technique.description|trans({}, 'techniques') }}</div>
		</div>
		{% endif %}
	{% endfor %}
		
{% endif %}