
<div class="card-body">
    <div class="col-md-12">
        <div class="col-md-6 col-lg-3">
            <h3 class="titre">{{ 'Equipement'|trans }}</h3>
            <table id="equipement">
                {% for item in equipement %}
                    <tr>
                        <td>{{ item.nom|trans({}, 'items') }}</td>
                        <td><button class="supprimer-equipement" data-id="{{ item.id }}"
                                    data-nom="{{ item.nom|trans({}, 'items') }}">{{ 'Remove'|trans }}</button></td>
						{% if item.idArmure is not null %}
						<td><button class="equiper-armure" data-id-armure="{{ item.idArmure }}" data-id-armure-equipee="{{ samurai.armure }}">Équiper</button></td>
						{% endif %}
                    </tr>
                {% endfor %}
                <tr>
                    <td><input class="new-item" value=""/></td>
                    <td><button class="ajouter-item">{{ 'Add'|trans }}</button></td>
                </tr>
            </table>
        </div>

        <div class="col-lg-offset-1 col-lg-8">
            <h3 class="titre">{{ 'Details'|trans }}</h3>
            <div class="col-md-4">
                <div class="col-md-12"><strong>{{ 'Sex'|trans }}: </strong>{{ samurai.sexe|trans }}<input class="edit-samurai l5a-form" value="{{ samurai.sexe }}" type="text" data-champ="Sexe"/></div>
                <div class="col-md-12"><strong>{{ 'Age'|trans }} <small>{{ 'in_years'|trans }}</small>: </strong><input class="edit-samurai l5a-form" value="{{ samurai.age }}" type="number" data-champ="Age"/></div>
                <div class="col-md-12"><strong>{{ 'Height'|trans }} <small>{{ 'in_cm'|trans }}</small>: </strong><input class="edit-samurai l5a-form" value="{{ samurai.taille }}" type="number" data-champ="Taille"/></div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12"><strong>{{ 'Hair'|trans }}: </strong><input class="edit-samurai l5a-form" value="{{ samurai.cheveux }}" type="text" data-champ="Cheveux"/></div>
                <div class="col-md-12"><strong>{{ 'Eyes'|trans }}: </strong><input class="edit-samurai l5a-form" value="{{ samurai.yeux }}" type="text" data-champ="Yeux"/></div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12"><strong>{{ 'Father'|trans }}: </strong><input class="edit-samurai l5a-form" value="{{ samurai.pere }}" type="text" data-champ="Pere"/></div>
                <div class="col-md-12"><strong>{{ 'Mother'|trans }}: </strong><input class="edit-samurai l5a-form" value="{{ samurai.mere }}" type="text" data-champ="Mere"/></div>
                <div class="col-md-12"><strong>{{ 'BrothersSisters'|trans }}: </strong><input class="edit-samurai l5a-form" value="{{ samurai.freresSoeurs }}" type="text" data-champ="FreresSoeurs"/></div>
                <div class="col-md-12"><strong>{{ 'family_situation'|trans }}: </strong><input class="edit-samurai l5a-form" value="{{ samurai.situationFamiliale }}" type="text" data-champ="SituationFamiliale"/></div>
                <div class="col-md-12"><strong>{{ 'Married To'|trans }}: </strong><input class="edit-samurai l5a-form" value="{{ samurai.marieA }}" type="text" data-champ="MarieA"/></div>
                <div class="col-md-12"><strong>{{ 'Children'|trans }}: </strong><input class="edit-samurai l5a-form" value="{{ samurai.enfants }}" data-champ="Enfants"/></div>
            </div>
            <div class="col-md-12"><strong>{{ 'clan_n_family'|trans }}: </strong>
                <textarea class="l5a-form exclude-autoupdate" disabled rows="4">{{ clan_description|trans({}, 'clans') }}{{ famille_description|trans({}, 'families') }}</textarea>
            </div>
            <div class="col-md-12"><strong>Notes: </strong><textarea class="edit-samurai l5a-form" data-champ="Notes" data-textarea="true">{{ samurai.notes }}</textarea></div>
        </div>
    </div>
</div>