{{ form_start(desavantageForm) }}
<div>
	<div class="col-md-12">
		<div class="col-md-4">
			{{ form_row(desavantageForm.nom) }}
			{{ form_row(desavantageForm.valeur) }}
			{{ form_row(desavantageForm.sousType) }}
		</div>
		<div class="col-md-8">
			{{ form_row(desavantageForm.description) }}
		</div>
	</div>

	<div class="separateur col-md-12"></div>

	<div class="col-md-12">
		{{ form_row(desavantageForm.save) }}
	</div>
	<div class="col-md-12">
        {{ form_row(desavantageForm.annuler) }}
	</div>
</div>
{{ form_rest(desavantageForm) }}
{{ form_end(desavantageForm) }}