{{ form_start(avantageForm) }}
<div>
	<div class="col-md-12">
		<div class="col-md-4">
			{{ form_row(avantageForm.nom) }}
			{{ form_row(avantageForm.valeur) }}
			{{ form_row(avantageForm.sousType) }}
		</div>
		<div class="col-md-8">
			{{ form_row(avantageForm.description) }}
		</div>
	</div>

	<div class="separateur col-md-12"></div>

	<div class="col-md-12">
		{{ form_row(avantageForm.save) }}
	</div>
	<div class="col-md-12">
        {{ form_row(avantageForm.annuler) }}
	</div>
</div>
{{ form_rest(avantageForm) }}
{{ form_end(avantageForm) }}