{{ form_start(techniqueForm) }}
<div>
	<div class="col-md-4">
		<div class="col-md-12">
			{{ form_row(techniqueForm.nom) }}
		</div>
		<div class="col-md-12">
            {{ form_row(techniqueForm.typePersonnage) }}
		</div>
		<div class="col-md-12">
			{{ form_row(techniqueForm.rangMinimum) }}
		</div>
		<div class="col-md-12">
			{{ form_row(techniqueForm.officielle) }}
		</div>
		<div class="col-md-12">
			{{ form_row(techniqueForm.ecoleVoie) }}
		</div>
	</div>

	<div class="col-md-8">
		<div class="col-md-12">
            {{ form_row(techniqueForm.ecoles) }}
		</div>
		<div class="col-md-12">
            {{ form_row(techniqueForm.description) }}
		</div>
	</div>

	<div class="separateur col-md-12"></div>

	<div class="col-md-12">
		{{ form_row(techniqueForm.save) }}
	</div>
	<div class="col-md-12">
        {{ form_row(techniqueForm.annuler) }}
	</div>
</div>
{{ form_rest(techniqueForm) }}
{{ form_end(techniqueForm) }}