<h3 class="titre">Avantages</h3>
<table id="table-pnj" class="datatable table">
    <thead>
    <tr>
        <th>{{ 'Nom'|trans }}</th>
        <th>Description</th>
        <th>Type</th>
        <th>{{ 'des_avantage.valeur'|trans }}</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for oneAvantage in avantages %}
        <tr>
            <td>{{ oneAvantage.nom|trans }}</td>
            <td>{{ oneAvantage.description|trans }}</td>
            <td>{{ oneAvantage.sousType|trans }}</td>
            <td>{{ oneAvantage.valeur }}</td>
            <td>
                <a href="{{ path('master_create',
                    ({type: 'avantage', id: oneAvantage.id, '_locale': app.request.locale})) }}" class="btn">{{ 'edit'|trans }}</a>
                <button class="supprimer-avantage-gm" data-id="{{ oneAvantage.id }}" data-suppr="Avantage">{{ 'Delete'|trans }}</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>