<h3 class="titre">Désavantages</h3>
<table id="table-pnj" class="datatable table">
    <thead>
    <tr>
        <th>{{ 'Nom'|trans }}</th>
        <th>Description</th>
        <th>Type</th>
        <th>{{ 'des_avantage.valeur'|trans }}</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for oneDesavantage in desavantages %}
        <tr>
            <td>{{ oneDesavantage.nom|trans }}</td>
            <td>{{ oneDesavantage.description|trans }}</td>
            <td>{{ oneDesavantage.sousType|trans }}</td>
            <td>{{ oneDesavantage.valeur }}</td>
            <td>
                <a href="{{ path('master_create',
                    ({type: 'desavantage', id: oneDesavantage.id, '_locale': app.request.locale})) }}#edit-desavantage-block" class="btn">{{ 'edit'|trans }}</a>
                <button class="supprimer-desavantage-gm" data-id="{{ oneDesavantage.id }}" data-suppr="Desavantage">{{ 'Delete'|trans }}</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>