
<div class="card-body">
    <div class="col-md-8">
        <h3 class="titre">{{ 'notes_campagne.char_met'|trans }}</h3>
        <table id="personnages">
            <tr>
                <th>{{ 'Nom'|trans }}</th>
                <th>{{ 'character.relationship'|trans }}</th>
                <th>{{ 'Notes'|trans }}</th>
            </tr>
            {% if personnages is not null %}
                {% for personnage in personnages if personnage is not null %}
                    <tr>
                        <td><input class="edit-personnage personnage-nom personnage-{{ personnage.id }}" value="{{ personnage.nom }}" data-personnage-id="{{ personnage.id }}"/></td>
                        <td><input class="edit-personnage personnage-rapport personnage-{{ personnage.id }}" value="{{ personnage.rapport }}" data-personnage-id="{{ personnage.id }}"/></td>
                        <td><textarea class="edit-personnage personnage-notes personnage-{{ personnage.id }}" rows="1" data-personnage-id="{{ personnage.id }}">{{ personnage.notes }}</textarea></td>
                        <td><button class="supprimer-personnage"  data-personnage-id="{{ personnage.id }}"  data-personnage-nom="{{ personnage.nom }}">{{ 'Delete'|trans }}</button></td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td><input class="new-personnage-nom" value="" /></td>
                <td><input class="new-personnage-rapport" value="" /></td>
                <td><textarea class="new-personnage-notes" rows="1" title="new-personnage-notes"></textarea></td>
                <td><button class="ajouter-personnage">{{ 'Add'|trans }}</button></td>
            </tr>
        </table>
    </div>

    <div class="col-md-offset-1 col-md-3">
        <h3 class="titre">{{ 'notes_campagne.places'|trans }}</h3>
        <table id="lieux">
            {% if lieux is not empty %}
                {% for lieu in lieux %}
                    <tr>
                        <td><input class="edit-lieu lieu-{{ lieu.id }}" value="{{ lieu.nom }}" data-lieu-id="{{ lieu.id }}"/></td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td><input class="new-lieu" value=""/></td>
                <td><button class="ajouter-lieu">{{ 'Add'|trans }}</button></td>
            </tr>
        </table>
    </div>

    <div class="col-md-9">
        <div class="col-md-10">
            <h3 class="titre">{{ 'notes_campagne.group_notes'|trans }}</h3>
            <textarea id="notes-joueurs" class="l5a-form">{{ notes_joueurs|default('') }}</textarea>
        </div>

        <div class="col-md-2 block-provisions">
            <label for="provisions"><strong>{{ 'notes_campagne.provisions'|trans }} <small>({{ 'in_days'|trans }})</small></strong></label>
            <input type="number" min="0" id="provisions" class="l5a-form" value="{{ provisions }}">
        </div>
    </div>

    <div class="col-md-9">
        <h3 class="titre">{{ 'notes_campagne.objectives'|trans }}</h3>
        <textarea id="objectifs" class="l5a-form">{{ notesCampagne.objectifs|default('') }}</textarea>
    </div>
</div>