{% extends 'main/l5a/recherche.html.twig' %}

{% block indicateurBasDePage %}
    {% if samurai is defined %}
        <p class="psides-10">{{ 'recherche.remaining_xp'|trans }}:
            <span id="xp-restante">{{ samurai.xpRestant }}</span>
            <button id="refresh-xp">Refresh</button>
        </p>
    {% endif %}
{% endblock %}

{% block mainContent %}
{{ parent() }}
<div class="card">
    <div class="card-body">
        <h3 class="titre">{{ 'recherche.search_skill'|trans }}</h3>
        <div class="table-responsive">
            <table id="table-competences" class="datatable table">
                <thead>
                    <tr>
                        <th>{{ 'Nom'|trans }}</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>{{ 'subtype'|trans }}</th>
                        <th>{{ 'skill.specialisations'|trans }}</th>
                        <th>{{ 'Trait'|trans }}</th>
                        {% if competencesAcquises is defined %}<th>{{ 'recherche.current_rank'|trans }}</th>{% endif %}
                        <th>{{ 'skill.mastery_ability'|trans }}</th>
                        {% if samurai is defined %}<th>Action</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for competence in competences %}
                        {% set rang = 0 %}
                        {% set specialitesAcquises = '' %}
                        {% if samurai is defined %}
                            {% for oneCompetenceAcquise in competencesAcquises if oneCompetenceAcquise.skillId == competence.id %}
                                {% set rang = oneCompetenceAcquise.rank %}
                                {% set specialitesAcquises = oneCompetenceAcquise.specialities %}
                            {% endfor %}
                        {% endif %}

                        <tr id="competence-{{ competence.id }}">
                            <td>{{ competence.nom|trans({}, 'skills') }}</td>
                            <td class="see-more">
                                <div>{{ competence.description|trans({}, 'skills') }}</div>
                            </td>
                            <td>{{ competence.type|trans }}</td>
                            <td class="see-more"><div>{{ competence.sousTypes|trans({}, 'skills') }}</div></td>
                            <td class="specialites see-more">
                                <div>
                                    {% set aSpecialites = competence.specialisations|split(',') %}
                                    {% for oneSpecialite in aSpecialites %}
                                        {{ oneSpecialite|trans({}, 'skills') }}<br/>
                                    {% endfor %}
                                </div>
                            </td>
                            <td>{{ competence.trait|trans }}</td>
                            {% if competencesAcquises is defined %}
                                <td class="rang">
                                    {{ rang }}
                                </td>
                            {% endif %}
                            <td class="see-more">
                                <div>
                                    {% if competence.capaciteMaitrise1Description is not empty %}
                                        - {{ competence.capaciteMaitrise1Description|trans({}, 'skills') }}<br/>
                                    {% endif %}
                                    {% if competence.capaciteMaitrise2Description is not empty %}
                                        - {{ competence.capaciteMaitrise2Description|trans({}, 'skills') }}<br/>
                                    {% endif %}
                                    {% if competence.capaciteMaitrise3Description is not empty %}
                                        - {{ competence.capaciteMaitrise3Description|trans({}, 'skills') }}<br/>
                                    {% endif %}
                                </div>
                            </td>
                            {% if samurai is defined %}
                                {# Building the specialisation string #}
                                {% set sSpecialisations = '' %}
                                {% for oneSpecialisation in aSpecialites %}
                                    {% set sSpecialisations = sSpecialisations ~ oneSpecialisation|trans({}, 'skills') ~ ',' %}
                                {% endfor %}
                                {% set sSpecialisations = sSpecialisations|trim(',') %}
                                <td>
                                    {% if rang > 0 %}
                                        <button class="acheter-specialite" data-id="{{ competence.id }}"
                                                data-specialites-acquises="{{ specialitesAcquises }}"
                                                data-specialites="{{ sSpecialisations }}">
                                            {{ 'Buy'|trans }} {{ 'skill.specialisation'|trans }}
                                        </button>
                                    {% else %}
                                        {% if created is defined %}
                                            <div class="col-md-12 p-0">
                                                <input id="achat-creation-{{ competence.id }}" class="col-md-1" name="achat-creation-{{ competence.id }}" type="checkbox"/>
                                                <label for="achat-creation-{{ competence.id }}" class="col-md-11" >{{ 'character_creation'|trans }}</label>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    <button class="acheter" data-id="{{ competence.id }}">
                                        {% if rang > 0 %}{{ 'Improve'|trans }}{% else %}{{ 'Buy'|trans }}{% endif %}</button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if samurai is defined %}
    <script>
        var chemins = {};
        chemins.acheterCompetence = "{{ path('acheter_competence', ({ 'id': samurai.id })) }}";
        chemins.acheterSpecialite = "{{ path('acheter_specialite', ({ 'id': samurai.id })) }}";
    </script>
{% endif %}
{% endblock %}
