{% extends 'main/l5a/recherche.html.twig' %}

{% block mainContent %}
{{ parent() }}
<div class="card">
    <div class="card-body">
		<h3 class="titre">
			{% if samurai is defined %}
				{{ 'Buy'|trans }} {{ 'Spell'|trans }}
			{% else %}
				{{ 'Spells'|trans }}
			{% endif %}
		</h3>
		<div id="filtres">
			<div class="col-md-1"><h4>{{ 'recherche.filter_by'|trans }}: </h4></div>
			<div class="col-md-3">
				<label for="filtre-nom">{{ 'Nom'|trans }}</label>
				<input id="filtre-nom" name="filtre-nom" type="text" value=""/>
			</div>
			<div class="col-md-3">
				<label for="filtre-rang-max">{{ 'maximum_rank'|trans }}</label>
				<input id="filtre-rang-max" name="filtre-rang-max" type="number" value="{{ samurai.rang|default(6) }}" max="6" min="1"/>
			</div>
			<div class="col-md-3">
				<label for="filtre-mot-cle">{{ 'keyword'|trans }}</label>
				<input id="filtre-mot-cle" name="filtre-mot-cle" type="text" value=""/>
			</div>
			<button id="filtrer" class="col-md-1">{{ 'filter'|trans }}</button>
		</div>

		<div id="sorts" class="col-md-12 accordion-holder">

			{% set anneaux = ['Terre', 'Eau', 'Air', 'Feu', 'Vide'] %}
			{% for oneAnneau in anneaux %}
				<button class="accordion">{{ 'recherche.ring_spells'|trans({'%de%': 'de', '%anneau%': oneAnneau|trans }) }}</button>
				<div class="smooth-hover">
					<div style="display: inline-block">
						{% for sort in sorts if sort.anneau == oneAnneau %}
							<div class="card col-md-6 sort" data-nom="{{ sort.nom|trans }}" data-rang="{{ sort.maitrise }}" data-mc="{{ sort.motsCles|trans }}">
								<div class="card-body {% if samurai is defined and sort.id in known_spells %} disabled{% endif %}">
									<h5 class="titre">{{ sort.nom|trans({}, 'spells') }}</h5>
									<p><strong>{{ 'spell.ring_mastery'|trans }}: </strong>{{ sort.anneau|trans }}/{{ sort.maitrise }}
									{% if sort.motsCles is not null %}({{ sort.motsCles|trans({}, 'spells')|default('Aucun') }}){% endif %}</p>
									<p><strong>{{ 'Reach'|trans }}: </strong>{{ sort.portee|trans({}, 'spells') }}</p>
									<p><strong>{{ 'spell.aoe'|trans }}: </strong>{{ sort.zoneEffet|trans({}, 'spells') }}</p>
									<p><strong>{{ 'spell.duration'|trans }}: </strong>{{ sort.duree|trans({}, 'spells') }}</p>
									<p class="augmentation"><strong>{{ 'Augmentations'|trans }}: </strong>{{ sort.augmentations|trans({}, 'spells') }}</p>
									<p class="description"><strong>Description: </strong>{{ sort.description|trans({}, 'spells') }}</p>
									{% if samurai is defined and sort.id not in known_spells %}
										<div class="col-md-12">
											{% if created is defined %}
												<input id="achat-creation-{{ sort.id }}" class="col-md-1" name="achat-creation-{{ sort.id }}" type="checkbox"/>
												<label for="achat-creation-{{ sort.id }}" class="col-md-4" >{{ 'character_creation'|trans }}</label>
											{% endif %}
											<button class="acheter-sort col-md-7" style="float:right;" data-maitrise="{{ sort.maitrise }}" data-id="{{ sort.id }}">{{ 'Buy'|trans }}</button>
										</div>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

			{% endfor %}
		</div>
		{% if samurai is defined %}
			<div>
				<p><strong>{{ 'school.school_spells'|trans }}: </strong>{{ ecole.sorts }}</p>
				<p><strong>{{ 'aff_def'|trans }} : </strong>{{ ecole.affinite|trans }} / {{ ecole.deficience|trans }}</p>
			</div>
		{% endif %}
	</div>
</div>
    {% if samurai is defined %}
		<script>
			var routeAcheterSort = "{{ path('acheter_sort', {'samuraiId': samurai.id}) }}"
		</script>
	{% endif %}
{% endblock %}
