{% extends 'main/l5a/recherche.html.twig' %}

{% block indicateurBasDePage %}
    {% if samurai is defined %}
        <p class="psides-10">{{ 'recherche.remaining_xp'|trans }}:
            <span id="xp-restante">{{ samurai.xpRestant }}</span>
            <button id="refresh-xp">Refresh</button>
        </p>
    {% endif %}
{% endblock %}
{% block mainContent %}
{{ parent() }}
<div class="card">
    <div class="card-body">
        <h3 class="titre">{{ 'Buy'|trans }} {{ 'trait'|trans }}</h3>

        <div class="col-md-6">
            <table class="anneaux">
                <tr>
                    <td rowspan="2"><img src="{{ asset('build/images/earth.png') }}" height="75"></td>
                    <td rowspan="2"><h4>{{ 'samurai.ring.earth'|trans }}: <span id="anneau-Terre">{{ samurai.terre }}</span></h4></td>
                    <td>{{ 'samurai.trait.constitution'|trans }}: </td>
                    <td>{{ samurai.constitution }}</td>
                    <td><button class="augmenter" data-trait="Constitution" data-anneau="Terre">{{ 'Improve'|trans }}</button></td>
                </tr>
                <tr>
                    <td>{{ 'samurai.trait.will'|trans }}: </td>
                    <td>{{ samurai.volonte }}</td>
                    <td><button class="augmenter" data-trait="Volonte" data-anneau="Terre">{{ 'Improve'|trans }}</button></td>
                </tr>
            </table>
            <table class="anneaux">
                <tr>
                    <td rowspan="2"><img src="{{ asset('build/images/water.png') }}" height="75"></td>
                    <td rowspan="2"><h4>{{ 'samurai.ring.water'|trans }}: <span id="anneau-Eau">{{ samurai.eau }}</span></h4></td>
                    <td>{{ 'samurai.trait.strength'|trans }}: </td>
                    <td>{{ samurai.force }}</td>
                    <td><button class="augmenter" data-trait="Force" data-anneau="Eau">{{ 'Improve'|trans }}</button></td>
                </tr>
                <tr>
                    <td>{{ 'samurai.trait.perception'|trans }}: </td>
                    <td>{{ samurai.perception }}</td>
                    <td><button class="augmenter" data-trait="Perception" data-anneau="Eau">{{ 'Improve'|trans }}</button></td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <table class="anneaux">
                <tr>
                    <td rowspan="2"><img src="{{ asset('build/images/air.png') }}" height="75"></td>
                    <td rowspan="2"><h4>{{ 'samurai.ring.air'|trans }}: <span id="anneau-Air">{{ samurai.air }}</span></h4></td>
                    <td>{{ 'samurai.trait.reflexes'|trans }}: </td>
                    <td>{{ samurai.reflexes }}</td>
                    <td><button class="augmenter" data-trait="Reflexes" data-anneau="Air">{{ 'Improve'|trans }}</button></td>
                </tr>
                <tr>
                    <td>{{ 'samurai.trait.awareness'|trans }}: </td>
                    <td>{{ samurai.intuition }}</td>
                    <td><button class="augmenter" data-trait="Intuition" data-anneau="Air">{{ 'Improve'|trans }}</button></td>
                </tr>
            </table>
            <table class="anneaux">
                <tr>
                    <td rowspan="2"><img src="{{ asset('build/images/fire.png') }}" height="75"></td>
                    <td rowspan="2"><h4>{{ 'samurai.ring.fire'|trans }}: <span id="anneau-Feu">{{ samurai.feu }}</span></h4></td>
                    <td>{{ 'samurai.trait.agility'|trans }}: </td>
                    <td>{{ samurai.agilite }}</td>
                    <td><button class="augmenter" data-trait="Agilite" data-anneau="Feu">{{ 'Improve'|trans }}</button></td>
                </tr>
                <tr>
                    <td>{{ 'samurai.trait.intelligence'|trans }}: </td>
                    <td>{{ samurai.intelligence }}</td>
                    <td><button class="augmenter" data-trait="Intelligence" data-anneau="Feu">{{ 'Improve'|trans }}</button></td>
                </tr>
            </table>
        </div>

        <div class="col-md-6 col-md-offset-3">
            <table class="anneaux">
                <tr>
                    <td rowspan="2"><img src="{{ asset('build/images/void.png') }}" height="75"></td>
                    <td rowspan="2"><h4>{{ 'samurai.ring.void'|trans }}: </h4></td>
                    <td id="anneau-Vide">{{ samurai.vide }}</td>
                    <td><button class="augmenter" data-trait="Vide" data-anneau="Vide">{{ 'Improve'|trans }}</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    var chemins = {};
    chemins.majSamurai = "{{ path('maj_samurai', ({ 'id': samurai.id })) }}";
</script>
{% endblock %}