<footer>
    <div class="container">
        <div class="col-md-4">
            <a href="{{ path('accueil', {'_locale': app.request.locale}) }}">{{ 'menu.welcome'|trans }}</a><br/>
            {% if app.user is not null %}
                <a href="{{ path('partie', {'gameId': app.session.get('gameId')|default(5), '_locale': app.request.locale}) }}">{{ 'menu.campaign_resume'|trans }}</a><br/>
            {% endif %}
            {% if gm is defined and gm is not null and gm == true %}
                <a href="{{ path('master_create', {'_locale': app.request.locale}) }}">{{ 'menu.game_management'|trans }}</a><br/>
                <a href="{{ path('afficher_combat', ({'gameId':app.session.gameId|default(5), '_locale': app.request.locale })) }}">{{ 'menu.fight'|trans }}</a><br/>
            {% endif %}
        </div>
        <div class="col-md-4">
            <a href="{{ path('discutea_forum_homepage') }}" target="_blank">Forum</a><br/>
            <a href="{{ path('sources', {'_locale': app.request.locale}) }}">{{ 'menu.sources'|trans }}</a><br/>
            <a href="{{ path('a_venir', {'_locale': app.request.locale}) }}">{{ 'menu.soon'|trans }}...</a><br/>
        </div>
        <div class="col-md-4">
            <a href="{{ path('tutoriel_pj', {'_locale': app.request.locale}) }}">{{ 'menu.pc_tuto'|trans }}</a><br/>
            {% if gm is defined and gm is not null and gm == true %}
                <a href="{{ path('tutoriel_mj', {'_locale': app.request.locale}) }}">{{ 'menu.gm_tuto'|trans }}</a><br/>
            {% endif %}
            <a href="{{ path('vous_pourriez_aimer', {'_locale': app.request.locale}) }}">{{ 'menu.you_could_like'|trans }}...</a><br/>

            {% if app.request.locale == 'fr' %}
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'en'})) }}">{{ 'menu.change_locale'|trans }}...</a><br/>
            {% else %}
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'fr'})) }}">{{ 'menu.change_locale'|trans }}...</a><br/>
            {% endif %}
            {% if app.user is null %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'menu.login'|trans }}</a>
            {% else %}
                <a href="{{ path('fos_user_security_logout') }}">{{ 'menu.logout'|trans }}</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <p class="version col-md-2">Version Daigotsu</p>
        <p class="version col-md-3">Copyright © Let's Role Anyway 2018</p>
    </div>
</footer>