
.uil-spin-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}
@-webkit-keyframes uil-spin-css {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes uil-spin-css {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-spin-css {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes uil-spin-css {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes uil-spin-css {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.uil-spin-css > div {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  position: absolute;
}
.uil-spin-css > div > div {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: #630b00;
}
.uil-spin-css > div:nth-of-type(1) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.87s;
  animation-delay: -0.87s;
}
.uil-spin-css > div:nth-of-type(1) {
  -webkit-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(2) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.uil-spin-css > div:nth-of-type(2) {
  -webkit-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(3) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.62s;
  animation-delay: -0.62s;
}
.uil-spin-css > div:nth-of-type(3) {
  -webkit-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(4) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.uil-spin-css > div:nth-of-type(4) {
  -webkit-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(5) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.37s;
  animation-delay: -0.37s;
}
.uil-spin-css > div:nth-of-type(5) {
  -webkit-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(6) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.uil-spin-css > div:nth-of-type(6) {
  -webkit-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(7) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.12s;
  animation-delay: -0.12s;
}
.uil-spin-css > div:nth-of-type(7) {
  -webkit-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(8) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0s;
  animation-delay: -0s;
}
.uil-spin-css > div:nth-of-type(8) {
  -webkit-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
}
