{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/combat.css') }}">
{% endblock %}

{% block titre %}{{ 'menu.fight'|trans }}{% endblock %}

{% block mainContent %}
    <div id="combat-id" class="hidden" data-game="{{ game_id }}"></div>

    {# VIEW GM #}
    {% if gm is defined and gm is not null and gm == true %}
        <div id="card-combat" class="card">
            <div class="card-body">
                <h3 class="titre">{{ 'menu.fight'|trans }}</h3>
                <table id="table-combat-gm" class="">
                    <thead>
                        <tr>
                            <th>{{ 'fight_page.current_turn'|trans }}</th>
                            <th>{{ 'Initiative'|trans }}</th>
                            <th>{{ 'Nom'|trans }}</th>
                            <th>{{ 'attack_roll'|trans }}</th>
                            <th>{{ 'damage_roll'|trans }}</th>
                            <th>{{ 'armure.nd'|trans }}</th>
                            <th>{{ 'armure.reduction'|trans }}</th>
                            <th>{{ 'weapon'|trans }}</th>
                            <th>{{ 'armor'|trans }}</th>
                            <th>{{ 'samurai.wounds' }}</th>
                            <th>{{ 'samurai.posture' }}</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for samurai in allSamurai %}
                            <tr class="samurai {{ samurai.id }}"
                                data-terre="{{ samurai.terre }}"
                                data-chemin="{{ path('maj_samurai', ({ 'id': samurai.id })) }}">
                                <td class="tour"></td>
                                <td><input class="initiative" value="0" type="number"></td>
                                <td colspan="3">{{ samurai.nom }}</td>
                                <td>{{ nds[samurai.id]['nd'] }}</td>
                                <td>{{ nds[samurai.id]['reduction'] }}</td>
                                <td></td>
                                <td></td>
                                <td><input class="blessure" value="{{ samurai.blessures }}" type="number" min="0"></td>
                                <td>
                                    <select class="posture">
                                        <option value="Attaque">{{ 'posture.attack'|trans }}</option>
                                        <option value="Assaut">{{ 'posture.assault'|trans }}</option>
                                        <option value="Défense">{{ 'posture.defense'|trans }}</option>
                                        <option value="Esquive">{{ 'posture.dodge'|trans }}</option>
                                        <option value="Centre">{{ 'posture.center'|trans }}</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="enlever-combattant">{{ 'Remove'|trans }}</button>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="separateur"></div>
                <h4 class="titre">{{ 'Add'|trans }} {{ 'fight_page.fighter'|trans }}</h4>
                <table id="table-nouveau-combattant">
                    <thead>
                        <tr>
                            <th>{{ 'Initiative'|trans }}</th>
                            <th>{{ 'Nom'|trans }}</th>
                            <th>{{ 'attack_roll'|trans }}</th>
                            <th>{{ 'damage_roll'|trans }}</th>
                            <th>{{ 'armure.nd'|trans }}</th>
                            <th>{{ 'armure.reduction'|trans }}</th>
                            <th>{{ 'weapon'|trans }}</th>
                            <th>{{ 'armor'|trans }}</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pnj">
                            <td><input class="initiative" value="0"></td>
                            <td><input class="nom" value=""></td>
                            <td><input class="jet-attaque" value=""></td>
                            <td><input class="jet-degats" value=""></td>
                            <td><input class="nd" value=""></td>
                            <td><input class="reduction" value=""></td>
                            <td><input class="arme" value=""></td>
                            <td><input class="armure" value=""></td>
                            <td>
								<select id="select-pnj">
									<option value="">{{ 'fight_page.one_day_npc'|trans }}</option>
									{% for pnj in pnjs %}
										<option value="{{ pnj.id }}">{{ pnj.nom }}</option>
									{% endfor %}
								</select>
                                <button id="ajouter-combattant">{{ 'Add'|trans }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="modal-principale" class="modal"></div>
            </div>
        </div>

        {# Canvas #}
        <!-- <div id="canvas-card" class="card">
            <div class="card-body">
                <h2 class="titre">Dessin</h2>
                <canvas id="canvas"></canvas>

            </div>
        </div> -->


                {# For everyone to see #}
                <h4 class="titre">{{ 'Preview'|trans }}</h4>
            {% endif %}
    <div id="canvas-card" class="card">
        <div class="card">
            <div id="combat-all">
                <table id="table-combat-all">
                    <thead>
                    <tr>
                        <th>{{ 'fight_page.current_turn'|trans }}</th>
                        <th>{{ 'Nom'|trans }}</th>
                        <th>{{ 'weapon'|trans }}</th>
                        <th>{{ 'armor'|trans }}</th>
                        <th>{{ 'samurai.posture'|trans }}</th>
                        {#<th>Action</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for samurai in allSamurai %}
                        <tr class="samurai {{ samurai.id }}">
                            <td class="tour"></td>
                            <td class="hidden"><input type="number" class="initiative" value="0" disabled="true"></td>
                            <td>{{ samurai.nom }}</td>
                            <td></td>
                            <td></td>
                            {#<td class="blessure">{{ samurai.blessures }}</td>#}
                            <td class="posture">{{ 'posture.attack'|trans }}</td>
                            {#<td>Action</th>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script>
        var chemins = {};
        chemins.trigger_pusher = "{{ path('trigger_pusher') }}";
        chemins.select_pnj = "{{ path('select_pnj') }}";
        chemins.maj_tableau_combat_pj = "{{ path('maj_tableau_combat_pj') }}";
    </script>
{% endblock %}

{% block boiteAJet %}
    {{ parent() }}
    {% if app.user is not null and 'ROLE_GM' in app.user.roles  %}
        <div id="finir-tour-container">
            <button id="finir-tour">{{ 'fight_page.start_fight'|trans }}</button>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('build/combat.js') }}"></script>
{% endblock %}