{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/game-master.css') }}">
{% endblock %}

{% block titre %}{{ 'menu.game_management'|trans }}{% endblock %}

{% block header %}
	{{ parent() }}
	{% block Personnage %}{% endblock %}
{% endblock %}

{% block mainContent %}
<div id="master">

	{% if samurais is not null %}
		<div class="card">
			<div class="card-body">
				<h3 class="titre">{{ 'game_dashboard_page.samurai_list'|trans }}</h3>
				<div class="col-md-12">
					<div class="boutons">
						<div class="col-md-6">
							<button id="ajouter-xp">{{ 'game_dashboard_page.add_experience'|trans }}</button>
						</div>
						<div class="col-md-6">
							<button id="rafraichir-liste-samurais">{{ 'Refresh'|trans }}</button>
						</div>
					</div>
				</div>
				<div id="liste-samurais">
					{% include 'blocks/l5a/_liste_samurais.html.twig' %}
				</div>
			</div>
		</div>
	{% endif %}

    <div class="card">
        <div class="card-body accordion-holder">
			<button class="accordion">{{ 'game_dashboard_page.campaign_notes'|trans }}</button>
			<div id="maj-notes-gm" class="smooth-hover">
				<textarea class="l5a-form" rows="10">{{ game.notes }}</textarea>
			</div>

			{% if type is not null and type == 'pnj' %}
				<div id="edit-pnj-block">
					<h3 class="titre">{{ 'game_dashboard_page.edit_npc'|trans }}</h3>
					{% include 'blocks/l5a/_form_pnj.html.twig' %}
					<div class="separateur"></div>
				</div>
			{% else %}
				<button class="accordion">{{ 'game_dashboard_page.create_npc'|trans }}</button>
				<div class="smooth-hover creation pnj">

					<div class="separateur"></div>

					<div id="form-pnj">
						{% include 'blocks/l5a/_form_pnj.html.twig' %}
					</div>
					<div class="separateur"></div>
				</div>
			{% endif %}

            {# <button class="accordion">Créer une compétence</button>
            <div class="smooth-hover creation competence">
                {{ form_start(competenceForm) }}
                {{ form_widget(competenceForm) }}
                {{ form_end(competenceForm) }}
                {# rangs de maîtrise :
                 rangdemaitrise,quoi,decombien,if:condition1,if:condition2
            </div> #}

            {% if type is not null and type == 'arme' %}
				<div id="edit-arme-block">
					<h3 class="titre">{{ 'game_dashboard_page.edit_weapon'|trans }}</h3>
					{% include 'blocks/l5a/_form_arme.html.twig' %}
					<div class="separateur"></div>
				</div>
            {% else %}
				<button class="accordion">{{ 'game_dashboard_page.create_weapon'|trans }}</button>
				<div class="smooth-hover creation arme">

					<div class="separateur"></div>

					<div id="form-arme">
                        {% include 'blocks/l5a/_form_arme.html.twig' %}
					</div>
					<div class="separateur"></div>
				</div>
            {% endif %}

            {% if type is not null and type == 'armure' %}
				<div id="edit-armure-block">
					<h3 class="titre">{{ 'game_dashboard_page.edit_armor'|trans }}</h3>
					{% include 'blocks/l5a/_form_armure.html.twig' %}
					<div class="separateur"></div>
				</div>
            {% else %}
				<button class="accordion">{{ 'game_dashboard_page.create_armor'|trans }}</button>
				<div class="smooth-hover creation armure">

					<div class="separateur"></div>

					<div id="form-armure">
                        {% include 'blocks/l5a/_form_armure.html.twig' %}
					</div>
					<div class="separateur"></div>
				</div>
            {% endif %}

            {% if type is not null and type == 'avantage' %}
				<div id="edit-avantage-block">
					<h3 class="titre">{{ 'game_dashboard_page.edit_adv'|trans }}</h3>
					{% include 'blocks/l5a/_form_avantage.html.twig' %}
					<div class="separateur"></div>
				</div>
            {% else %}
				<button class="accordion">{{ 'game_dashboard_page.create_adv'|trans }}</button>
				<div class="smooth-hover creation avantage">

					<div class="separateur"></div>

					<div id="form-avantage">
                        {% include 'blocks/l5a/_form_avantage.html.twig' %}
					</div>
					<div class="separateur"></div>
				</div>
            {% endif %}

            {% if type is not null and type == 'desavantage' %}
				<div id="edit-desavantage-block">
					<h3 class="titre">{{ 'game_dashboard_page.edit_disadv'|trans }}</h3>
					{% include 'blocks/l5a/_form_desavantage.html.twig' %}
					<div class="separateur"></div>
				</div>
            {% else %}
				<button class="accordion">{{ 'game_dashboard_page.create_disadv'|trans }}</button>
				<div class="smooth-hover creation desavantage">

					<div class="separateur"></div>

					<div id="form-desavantage">
                        {% include 'blocks/l5a/_form_desavantage.html.twig' %}
					</div>
					<div class="separateur"></div>
				</div>
            {% endif %}

            {% if type is not null and type == 'technique' %}
				<div id="edit-technique-block">
					<h3 class="titre">{{ 'game_dashboard_page.edit_technique'|trans }}</h3>
					{% include 'blocks/l5a/_form_technique.html.twig' %}
					<div class="separateur"></div>
				</div>
            {% else %}
				<button class="accordion">{{ 'game_dashboard_page.create_technique'|trans }}</button>
				<div class="smooth-hover creation technique">

					<div class="separateur"></div>

					<div id="form-technique">
                        {% include 'blocks/l5a/_form_technique.html.twig' %}
					</div>
					<div class="separateur"></div>
				</div>
            {% endif %}
        </div>
    </div>
</div>

{# à joindre dans une modale
<div id="liste-equipements" style="display:none">
	<label for="select-arme">Choisissez une arme</label>
	<select id="select-arme" name="select-arme">
		<option value="none">Pas de nouvelle arme</option>
		{% for arme in armes %}
			<option value="{{ arme.id }};{{ arme.nom }}">{{ arme.nom }}</option>
		{% endfor %}
	</select>		
	<label for="select-armure">Choisissez une armure</label>
	<select id="select-armure" name="select-armure">
		<option value="none">Pas de nouvelle armure</option>
		{% for armure in armures %}
			<option value="{{ armure.id }};{{ armure.nom }}">{{ armure.nom }}</option>
		{% endfor %}
	</select>
</div>#}

<div id="liste-joueurs" style="display:none">
	<label for="select-joueur">{{ 'game_dashboard_page.choose_player'|trans }}</label>
	<select id="select-joueur" name="select-joueur">
		<option value="none">{{ 'game_dashboard_page.no_player'|trans }}</option>
        {% for joueur in joueurs %}
			<option value="{{ joueur.id }}">{{ joueur.username }}</option>
        {% endfor %}
	</select>
</div>

<div id="editer-perso-model" style="display: none">
	<div class="content">
		<strong>{{ 'game_dashboard_page.popup.attributes_message'|trans }}</strong><br/><br/>
		<label for="points-honneur">{{ 'samurai.honour'|trans }}:</label>
		<input type="number" class="l5a-form" name="points-honneur" value="0"><br/>
		<label for="points-gloire">{{ 'samurai.glory'|trans }}:</label>
		<input type="number" class="l5a-form" name="points-gloire" value="0"><br/>
		<label for="points-statut">{{ 'samurai.status'|trans }}:</label>
		<input type="number" class="l5a-form" name="points-statut" value="0"><br/>
		<label for="points-souillure">{{ 'samurai.taint'|trans }}:</label>
		<input type="number" class="l5a-form" name="points-souillure" value="0"><br/><br/>
		<label for="points-terre">{{ 'samurai.ring.earth'|trans }}:</label>
		<input type="number" class="l5a-form" name="points-terre" value="0"><br/>
		<label for="points-air">{{ 'samurai.ring.air'|trans }}:</label>
		<input type="number" class="l5a-form" name="points-air" value="0"><br/>
		<label for="points-eau">{{ 'samurai.ring.water'|trans }}:</label>
		<input type="number" class="l5a-form" name="points-eau" value="0"><br/>
		<label for="points-feu">{{ 'samurai.ring.fire'|trans }}:</label>
		<input type="number" class="l5a-form" name="points-feu" value="0"><br/>
		<label for="points-vide">{{ 'samurai.ring.void'|trans }}:</label>
		<input type="number" class="l5a-form" name="points-vide" value="0"><br/>
	</div>
</div>

<script>
	var chemin = {};
	chemin.editerPNJ = "{{ path('gm_editer_pnj') }}";
	chemin.editerArme = "{{ path('gm_editer_arme') }}";
	chemin.editerArmure = "{{ path('gm_editer_armure') }}";
	chemin.creerPNJ = "{{ path('gm_creation_pnj') }}";
	chemin.creerArme = "{{ path('gm_creation_arme') }}";
	chemin.creerArmure = "{{ path('gm_creation_armure') }}";
	chemin.creerAvantage = "{{ path('gm_creation_avantage') }}";
	chemin.creerDesavantage = "{{ path('gm_creation_desavantage') }}";
	chemin.rafraichirListeSamurais = "{{ path('gm_liste_samurais') }}";
	chemin.attribuerXP = "{{ path('gm_attribuer_xp') }}";
	chemin.majNotesGM = "{{ path('gm_maj_notes') }}";
	chemin.getBonus = "{{ path('gm_get_bonus') }}";
	chemin.attribuerJoueur = "{{ path('gm_attribuer_joueur') }}";
	chemin.afficherPNJs = "{{ path('gm_attribuer_joueur') }}";
	chemin.afficherArmes = "{{ path('gm_attribuer_joueur') }}";
	chemin.afficherArmures = "{{ path('gm_attribuer_joueur') }}";
	chemin.gmEditerSamurai = "{{ path('gm_editer_samurai') }}";

	function saveTheApostrophe(nom) {
        return nom.replace('&#039;', '\'');
	}
</script>
{% endblock %}

{% block javascripts %}
		<script src="{{ asset('build/game-master.js') }}"></script>
{% endblock %}
