{% extends 'default/layout.html.twig' %}

{% block header %}{% endblock %}

{% block mainContent %}
	<div class="card">
		<div class="card-body">
			<form id="valider-mdp" method="post" action="{{ path('partie', ({ 'gameId': game.id, '_locale': app.request.locale })) }}">
				<label for="mdp">{{ 'join_game_page.enter_password'|trans }}</label>
				<input id="mdp" name="mdp" type="password" value=""/>
				<button type="submit" id="valider" name="valider">{{ 'Validate'|trans }}</button>
			</form> 
		</div>
	</div>
{% endblock %}

{% block boiteAJet %}{% endblock %}