
{% set root =  'http://localhost/l5a-dashboard/web' %}
    {#{% set root =  'http://symfony-yivh.frb.io' %}#}

<style type="text/css">
    <!--
    span.cls_010{font-family:Times,serif;font-size:11.4px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_010{font-family:Times,serif;font-size:11.4px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_011{font-family:Times,serif;font-size:8.0px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_011{font-family:Times,serif;font-size:8.0px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_012{font-family:Arial,serif;font-size:6.7px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_012{font-family:Arial,serif;font-size:6.7px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_020{font-family:Arial,serif;font-size:14.1px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_020{font-family:Arial,serif;font-size:14.1px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_021{font-family:Times,serif;font-size:10.1px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_021{font-family:Times,serif;font-size:10.1px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_022{font-family:Times,serif;font-size:7.0px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_022{font-family:Times,serif;font-size:7.0px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_016{font-family:Times,serif;font-size:9.6px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_016{font-family:Times,serif;font-size:9.6px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_017{font-family:Times,serif;font-size:6.7px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_017{font-family:Times,serif;font-size:6.7px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_018{font-family:Arial,serif;font-size:7.0px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_018{font-family:Arial,serif;font-size:7.0px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_013{font-family:Times,serif;font-size:8.1px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_013{font-family:Times,serif;font-size:8.1px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_014{font-family:Times,serif;font-size:5.6px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_014{font-family:Times,serif;font-size:5.6px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_025{font-family:Times,serif;font-size:10.1px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_025{font-family:Times,serif;font-size:10.1px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_026{font-family:Times,serif;font-size:7.0px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_026{font-family:Times,serif;font-size:7.0px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_002{font-family:Arial,serif;font-size:7.6px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_002{font-family:Arial,serif;font-size:7.6px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_003{font-family:Arial,serif;font-size:5.4px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_003{font-family:Arial,serif;font-size:5.4px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_027{font-family:Times,serif;font-size:9.6px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_027{font-family:Times,serif;font-size:9.6px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_028{font-family:Times,serif;font-size:6.7px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_028{font-family:Times,serif;font-size:6.7px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_004{font-family:Arial,serif;font-size:7.6px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_004{font-family:Arial,serif;font-size:7.6px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_005{font-family:Arial,serif;font-size:5.4px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_005{font-family:Arial,serif;font-size:5.4px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_029{font-family:Arial,serif;font-size:7.6px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_029{font-family:Arial,serif;font-size:7.6px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_030{font-family:Arial,serif;font-size:5.4px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_030{font-family:Arial,serif;font-size:5.4px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_023{font-family:Times,serif;font-size:10.1px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_023{font-family:Times,serif;font-size:10.1px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_024{font-family:Times,serif;font-size:7.0px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_024{font-family:Times,serif;font-size:7.0px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_008{font-family:Arial,serif;font-size:4.8px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_008{font-family:Arial,serif;font-size:4.8px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_009{font-family:Arial,serif;font-size:3.4px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_009{font-family:Arial,serif;font-size:3.4px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_006{font-family:Arial,serif;font-size:5.7px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_006{font-family:Arial,serif;font-size:5.7px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_007{font-family:Arial,serif;font-size:4.0px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_007{font-family:Arial,serif;font-size:4.0px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_015{font-family:Times,serif;font-size:10.1px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_015{font-family:Times,serif;font-size:10.1px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_031{font-family:Times,serif;font-size:7.0px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_031{font-family:Times,serif;font-size:7.0px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_032{font-family:Arial,serif;font-size:5.3px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_032{font-family:Arial,serif;font-size:5.3px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_033{font-family:Arial,serif;font-size:5.3px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_033{font-family:Arial,serif;font-size:5.3px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_034{font-family:Arial,serif;font-size:5.5px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_034{font-family:Arial,serif;font-size:5.5px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_035{font-family:Arial,serif;font-size:5.5px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_035{font-family:Arial,serif;font-size:5.5px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_036{font-family:Arial,serif;font-size:16.1px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_036{font-family:Arial,serif;font-size:16.1px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
    -->
</style>

<page>

        <!--<script type="text/javascript" src="1607f848-8b45-11e8-b59b-0cc47a792c0a_id_1607f848-8b45-11e8-b59b-0cc47a792c0a_files/wz_jsgraphics.js"></script>-->

    <div style="position:absolute;left:50%;margin-left:-308px;top:0px;width:616px;height:792px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="{{ root }}/bundles/l5a/images/1607f848-8b45-11e8-b59b-0cc47a792c0a_id_1607f848-8b45-11e8-b59b-0cc47a792c0a_files/background1.jpg" width=616 height=792></div>
        <div style="position:absolute;left:35.69px;top:29.01px" class="cls_010"><span class="cls_010">{{ 'Nom'|trans }}</span><span>    {{ samurai.nom }}</span></div>
        <div style="position:absolute;left:227.70px;top:29.01px" class="cls_010"><span class="cls_010">{{ 'Rank'|trans }}</span></div>
        <div style="position:absolute;left:35.70px;top:46.25px" class="cls_010"><span class="cls_010">C</span><span class="cls_011">lan</span></div>
        <div style="position:absolute;left:227.69px;top:46.24px" class="cls_010"><span class="cls_010">P</span><span class="cls_011">oints</span><span class="cls_010"> </span><span class="cls_011">d</span><span class="cls_010">’E</span><span class="cls_011">xpérience</span></div>
        <div style="position:absolute;left:35.69px;top:63.48px" class="cls_010"><span class="cls_010">É</span><span class="cls_011">cole</span></div>
        <div style="position:absolute;left:227.69px;top:63.48px" class="cls_010"><span class="cls_010">R</span><span class="cls_011">éputation</span></div>
        <div style="position:absolute;left:263.68px;top:75.65px" class="cls_012"><span class="cls_012">(Anneaux x10) + Compétences + Bonus de Réputation</span></div>
        <div style="position:absolute;left:174.68px;top:96.30px" class="cls_020"><span class="cls_020">Terre</span></div>
        <div style="position:absolute;left:242.78px;top:95.83px" class="cls_020"><span class="cls_020">Air</span></div>
        <div style="position:absolute;left:63.57px;top:126.55px" class="cls_021"><span class="cls_021">C</span><span class="cls_022">onstitution</span></div>
        <div style="position:absolute;left:317.83px;top:126.55px" class="cls_021"><span class="cls_021">R</span><span class="cls_022">éflexes</span></div>
        <div style="position:absolute;left:483.53px;top:134.14px" class="cls_016"><span class="cls_016">H</span><span class="cls_017">onneur</span></div>
        <div style="position:absolute;left:78.89px;top:150.36px" class="cls_021"><span class="cls_021">V</span><span class="cls_022">olonté</span></div>
        <div style="position:absolute;left:325.74px;top:150.36px" class="cls_021"><span class="cls_021">I</span><span class="cls_022">ntuition</span></div>
        <div style="position:absolute;left:487.37px;top:170.14px" class="cls_016"><span class="cls_016">G</span><span class="cls_017">loire</span></div>
        <div style="position:absolute;left:80.06px;top:182.77px" class="cls_021"><span class="cls_021">F</span><span class="cls_022">orce</span></div>
        <div style="position:absolute;left:336.72px;top:182.77px" class="cls_021"><span class="cls_021">A</span><span class="cls_022">gilité</span></div>
        <div style="position:absolute;left:45.99px;top:207.81px" class="cls_021"><span class="cls_021">P</span><span class="cls_022">erception</span></div>
        <div style="position:absolute;left:345.23px;top:207.81px" class="cls_021"><span class="cls_021">I</span><span class="cls_022">ntelligence</span></div>
        <div style="position:absolute;left:487.28px;top:206.14px" class="cls_016"><span class="cls_016">S</span><span class="cls_017">tatut</span></div>
        <div style="position:absolute;left:158.67px;top:233.62px" class="cls_020"><span class="cls_020">Eau</span></div>
        <div style="position:absolute;left:262.45px;top:232.21px" class="cls_020"><span class="cls_020">Feu</span></div>
        <div style="position:absolute;left:449.77px;top:242.14px" class="cls_016"><span class="cls_016">S</span><span class="cls_017">ouillure</span><span class="cls_016"> </span><span class="cls_017">de</span><span class="cls_016"> </span><span class="cls_017">l</span><span class="cls_016">’O</span><span class="cls_017">utremonde</span></div>
        <div style="position:absolute;left:209.16px;top:270.01px" class="cls_020"><span class="cls_020">Vide</span></div>
        <div style="position:absolute;left:191.03px;top:304.10px" class="cls_018"><span class="cls_018">Points de Vide Utilisés</span></div>
        <div style="position:absolute;left:74.96px;top:319.97px" class="cls_013"><span class="cls_013">N</span><span class="cls_014">om</span><span class="cls_013"> </span><span class="cls_014">de</span><span class="cls_013"> </span><span class="cls_014">la</span><span class="cls_013"> C</span><span class="cls_014">ompétence</span></div>
        <div style="position:absolute;left:175.96px;top:319.97px" class="cls_013"><span class="cls_013">R</span><span class="cls_014">ang</span></div>
        <div style="position:absolute;left:208.71px;top:319.97px" class="cls_013"><span class="cls_013">T</span><span class="cls_014">rait</span></div>
        <div style="position:absolute;left:248.06px;top:319.97px" class="cls_013"><span class="cls_013">J</span><span class="cls_014">et</span></div>
        <div style="position:absolute;left:274.07px;top:319.97px" class="cls_013"><span class="cls_013">S</span><span class="cls_014">pécialisations</span><span class="cls_013"> </span><span class="cls_014">et</span><span class="cls_013"> C</span><span class="cls_014">apacités</span><span class="cls_013"> </span><span class="cls_014">de</span><span class="cls_013"> M</span><span class="cls_014">aîtrise</span></div>
        <div style="position:absolute;left:482.44px;top:318.28px" class="cls_025"><span class="cls_025">I</span><span class="cls_026">nitiative</span></div>
        <div style="position:absolute;left:423.85px;top:333.29px" class="cls_002"><span class="cls_002">R</span><span class="cls_003">ang</span><span class="cls_002"> </span><span class="cls_003">de</span><span class="cls_002"> R</span><span class="cls_003">éputation</span><span class="cls_002">/R</span><span class="cls_003">éflexes</span></div>
        <div style="position:absolute;left:423.85px;top:347.41px" class="cls_002"><span class="cls_002">M</span><span class="cls_003">odificateurs</span></div>
        <div style="position:absolute;left:423.85px;top:361.53px" class="cls_002"><span class="cls_002">I</span><span class="cls_003">nitiative</span><span class="cls_002"> A</span><span class="cls_003">ctuelle</span></div>
        <div style="position:absolute;left:475.30px;top:374.94px" class="cls_027"><span class="cls_027">ND </span><span class="cls_028">d</span><span class="cls_027">’A</span><span class="cls_028">rmure</span></div>
        <div style="position:absolute;left:423.86px;top:389.53px" class="cls_004"><span class="cls_004">5+ (R</span><span class="cls_005">éflexes</span><span class="cls_004"> </span><span class="cls_005">x</span><span class="cls_004">5)</span></div>
        <div style="position:absolute;left:423.86px;top:403.65px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">odificateurs</span></div>
        <div style="position:absolute;left:423.86px;top:417.77px" class="cls_004"><span class="cls_004">ND A</span><span class="cls_005">ctuel</span></div>
        <div style="position:absolute;left:486.09px;top:431.08px" class="cls_027"><span class="cls_027">A</span><span class="cls_028">rmure</span></div>
        <div style="position:absolute;left:423.86px;top:445.63px" class="cls_004"><span class="cls_004">B</span><span class="cls_005">onus</span><span class="cls_004"> </span><span class="cls_005">au</span><span class="cls_004"> ND</span></div>
        <div style="position:absolute;left:509.39px;top:445.63px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">éduction</span></div>
        <div style="position:absolute;left:423.86px;top:459.75px" class="cls_004"><span class="cls_004">Q</span><span class="cls_005">ualité</span></div>
        <div style="position:absolute;left:423.86px;top:473.87px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">otes</span></div>
        <div style="position:absolute;left:482.16px;top:487.20px" class="cls_027"><span class="cls_027">B</span><span class="cls_028">lessures</span></div>
        <div style="position:absolute;left:423.85px;top:501.73px" class="cls_004"><span class="cls_004">T</span><span class="cls_005">erre</span><span class="cls_004"> </span><span class="cls_005">x</span><span class="cls_004">2 </span><span class="cls_005">par</span><span class="cls_004"> R</span><span class="cls_005">ang</span></div>
        <div style="position:absolute;left:423.85px;top:511.33px" class="cls_004"><span class="cls_004">T</span><span class="cls_005">erre</span><span class="cls_004"> </span><span class="cls_005">x</span><span class="cls_004">5 </span><span class="cls_005">pour</span><span class="cls_004"> I</span><span class="cls_005">ndemne</span></div>
        <div style="position:absolute;left:423.60px;top:526.23px" class="cls_029"><span class="cls_029">R</span><span class="cls_030">ang</span><span class="cls_029"> </span><span class="cls_030">de</span><span class="cls_029"> B</span><span class="cls_030">lessure</span></div>
        <div style="position:absolute;left:498.97px;top:526.23px" class="cls_029"><span class="cls_029">M</span><span class="cls_030">alus</span></div>
        <div style="position:absolute;left:529.23px;top:526.23px" class="cls_029"><span class="cls_029">T</span><span class="cls_030">otal</span></div>
        <div style="position:absolute;left:557.01px;top:526.23px" class="cls_029"><span class="cls_029">A</span><span class="cls_030">ctuel</span></div>
        <div style="position:absolute;left:423.86px;top:541.90px" class="cls_004"><span class="cls_004">I</span><span class="cls_005">ndemne</span><span class="cls_004"> (+0)</span></div>
        <div style="position:absolute;left:423.86px;top:561.74px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">gratigné</span><span class="cls_004"> (+3)</span></div>
        <div style="position:absolute;left:423.86px;top:581.59px" class="cls_004"><span class="cls_004">L</span><span class="cls_005">égèrement</span><span class="cls_004"> B</span><span class="cls_005">lessé</span><span class="cls_004"> (+5)</span></div>
        <div style="position:absolute;left:423.86px;top:601.43px" class="cls_004"><span class="cls_004">B</span><span class="cls_005">lessé</span><span class="cls_004"> (+10)</span></div>
        <div style="position:absolute;left:423.85px;top:621.27px" class="cls_004"><span class="cls_004">G</span><span class="cls_005">ravement</span><span class="cls_004"> B</span><span class="cls_005">lessé</span><span class="cls_004"> (+15)</span></div>
        <div style="position:absolute;left:423.85px;top:641.11px" class="cls_004"><span class="cls_004">I</span><span class="cls_005">mpotent</span><span class="cls_004"> (+20)</span></div>
        <div style="position:absolute;left:79.18px;top:649.78px" class="cls_023"><span class="cls_023">A</span><span class="cls_024">rme</span><span class="cls_023"> 1</span></div>
        <div style="position:absolute;left:206.33px;top:650.04px" class="cls_025"><span class="cls_025">A</span><span class="cls_026">rme</span><span class="cls_025"> 2</span></div>
        <div style="position:absolute;left:334.15px;top:650.04px" class="cls_025"><span class="cls_025">F</span><span class="cls_026">lèches</span></div>
        <div style="position:absolute;left:423.86px;top:659.09px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">puisé</span><span class="cls_004"> (+40)</span></div>
        <div style="position:absolute;left:39.94px;top:665.28px" class="cls_004"><span class="cls_004">T</span><span class="cls_005">ype</span></div>
        <div style="position:absolute;left:161.64px;top:665.28px" class="cls_004"><span class="cls_004">T</span><span class="cls_005">ype</span></div>
        <div style="position:absolute;left:283.25px;top:665.28px" class="cls_004"><span class="cls_004">T</span><span class="cls_005">ype</span></div>
        <div style="position:absolute;left:327.78px;top:665.28px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">ommages</span></div>
        <div style="position:absolute;left:369.31px;top:665.28px" class="cls_004"><span class="cls_004">Q</span><span class="cls_005">uantité</span></div>
        <div style="position:absolute;left:423.86px;top:668.78px" class="cls_008"><span class="cls_008">D</span><span class="cls_009">oit</span><span class="cls_008"> </span><span class="cls_009">utiliser</span><span class="cls_008"> </span><span class="cls_009">un</span><span class="cls_008"> P</span><span class="cls_009">oint</span><span class="cls_008"> </span><span class="cls_009">de</span><span class="cls_008"> V</span><span class="cls_009">ide</span><span class="cls_008"> </span><span class="cls_009">pour</span><span class="cls_008"> </span><span class="cls_009">agir</span></div>
        <div style="position:absolute;left:39.94px;top:680.84px" class="cls_004"><span class="cls_004">J</span><span class="cls_005">et</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">'</span><span class="cls_005">attaque</span></div>
        <div style="position:absolute;left:161.64px;top:680.84px" class="cls_004"><span class="cls_004">J</span><span class="cls_005">et</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">'</span><span class="cls_005">attaque</span></div>
        <div style="position:absolute;left:423.86px;top:681.49px" class="cls_004"><span class="cls_004">H</span><span class="cls_005">ors</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> C</span><span class="cls_005">ombat</span></div>
        <div style="position:absolute;left:423.86px;top:690.17px" class="cls_008"><span class="cls_008">N</span><span class="cls_009">e</span><span class="cls_008"> P</span><span class="cls_009">eut</span><span class="cls_008"> P</span><span class="cls_009">as</span><span class="cls_008"> A</span><span class="cls_009">gir</span></div>
        <div style="position:absolute;left:39.94px;top:696.39px" class="cls_004"><span class="cls_004">J</span><span class="cls_005">et</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> D</span><span class="cls_005">ommages</span></div>
        <div style="position:absolute;left:161.64px;top:696.39px" class="cls_004"><span class="cls_004">J</span><span class="cls_005">et</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> D</span><span class="cls_005">ommages</span></div>
        <div style="position:absolute;left:449.54px;top:699.61px" class="cls_027"><span class="cls_027">R</span><span class="cls_028">écupération</span><span class="cls_027"> </span><span class="cls_028">des</span><span class="cls_027"> B</span><span class="cls_028">lessures</span></div>
        <div style="position:absolute;left:39.94px;top:711.95px" class="cls_004"><span class="cls_004">B</span><span class="cls_005">onus</span></div>
        <div style="position:absolute;left:161.64px;top:711.95px" class="cls_004"><span class="cls_004">B</span><span class="cls_005">onus</span></div>
        <div style="position:absolute;left:423.85px;top:714.51px" class="cls_006"><span class="cls_006">C</span><span class="cls_007">onstitution</span><span class="cls_006"> </span><span class="cls_007">x</span><span class="cls_006">2 + R</span><span class="cls_007">ang</span><span class="cls_006"> </span><span class="cls_007">de</span><span class="cls_006"> R</span><span class="cls_007">éputation</span></div>
        <div style="position:absolute;left:39.94px;top:727.51px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">otes</span></div>
        <div style="position:absolute;left:161.64px;top:727.51px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">otes</span></div>
        <div style="position:absolute;left:423.85px;top:728.64px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">odificateurs</span></div>
        <div style="position:absolute;left:423.85px;top:743.15px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">écupération</span><span class="cls_004"> A</span><span class="cls_005">ctuelle</span></div>
    </div>
</page>

<page>
    <div style="position:absolute;left:50%;margin-left:-308px;top:802px;width:616px;height:792px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="{{ root }}/bundles/l5a/images/1607f848-8b45-11e8-b59b-0cc47a792c0a_id_1607f848-8b45-11e8-b59b-0cc47a792c0a_files/background2.jpg" width=616 height=792></div>
        <div style="position:absolute;left:64.10px;top:31.70px" class="cls_025"><span class="cls_025">I</span><span class="cls_026">nformations</span><span class="cls_025"> P</span><span class="cls_026">ersonnelles</span></div>
        <div style="position:absolute;left:263.31px;top:32.90px" class="cls_015"><span class="cls_015">A</span><span class="cls_031">vantages</span></div>
        <div style="position:absolute;left:364.87px;top:32.90px" class="cls_015"><span class="cls_015">P</span><span class="cls_031">oints</span></div>
        <div style="position:absolute;left:442.89px;top:32.90px" class="cls_015"><span class="cls_015">D</span><span class="cls_031">ésavantages</span></div>
        <div style="position:absolute;left:549.62px;top:32.90px" class="cls_015"><span class="cls_015">P</span><span class="cls_031">oints</span></div>
        <div style="position:absolute;left:39.47px;top:46.77px" class="cls_004"><span class="cls_004">S</span><span class="cls_005">exe</span></div>
        <div style="position:absolute;left:120.42px;top:46.77px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">ge</span></div>
        <div style="position:absolute;left:39.47px;top:60.89px" class="cls_004"><span class="cls_004">T</span><span class="cls_005">aille</span></div>
        <div style="position:absolute;left:120.42px;top:60.89px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">oids</span></div>
        <div style="position:absolute;left:39.47px;top:75.01px" class="cls_004"><span class="cls_004">C</span><span class="cls_005">heveux</span></div>
        <div style="position:absolute;left:120.42px;top:75.01px" class="cls_004"><span class="cls_004">Y</span><span class="cls_005">eux</span></div>
        <div style="position:absolute;left:39.47px;top:93.16px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ère</span></div>
        <div style="position:absolute;left:39.47px;top:107.67px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">ère</span></div>
        <div style="position:absolute;left:39.47px;top:122.17px" class="cls_004"><span class="cls_004">F</span><span class="cls_005">rères</span><span class="cls_004"> &</span></div>
        <div style="position:absolute;left:39.47px;top:131.77px" class="cls_004"><span class="cls_004">S</span><span class="cls_005">œurs</span></div>
        <div style="position:absolute;left:39.47px;top:145.89px" class="cls_004"><span class="cls_004">S</span><span class="cls_005">ituation</span></div>
        <div style="position:absolute;left:39.47px;top:155.49px" class="cls_004"><span class="cls_004">F</span><span class="cls_005">amiliale</span></div>
        <div style="position:absolute;left:39.47px;top:169.61px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">pouse</span></div>
        <div style="position:absolute;left:39.47px;top:184.11px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">nfants</span></div>
        <div style="position:absolute;left:39.47px;top:198.61px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">otes</span></div>
        <div style="position:absolute;left:65.19px;top:255.69px" class="cls_025"><span class="cls_025">É</span><span class="cls_026">quipement</span><span class="cls_025"> & P</span><span class="cls_026">ossessions</span></div>
        <div style="position:absolute;left:226.52px;top:255.69px" class="cls_025"><span class="cls_025">T</span><span class="cls_026">echniques</span><span class="cls_025"> </span><span class="cls_026">d</span><span class="cls_025">’É</span><span class="cls_026">cole</span><span class="cls_025"> (N</span><span class="cls_026">on</span><span class="cls_025"> -S</span><span class="cls_026">hugenja</span><span class="cls_025">)</span></div>
        <div style="position:absolute;left:430.35px;top:255.69px" class="cls_025"><span class="cls_025">T</span><span class="cls_026">echniques</span><span class="cls_025"> </span><span class="cls_026">d</span><span class="cls_025">’É</span><span class="cls_026">cole</span><span class="cls_025"> (S</span><span class="cls_026">hugenja</span><span class="cls_025">)</span></div>
        <div style="position:absolute;left:39.47px;top:270.51px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:172.09px;top:270.83px" class="cls_004"><span class="cls_004">S</span></div>
        <div style="position:absolute;left:186.27px;top:270.83px" class="cls_004"><span class="cls_004">L</span></div>
        <div style="position:absolute;left:212.86px;top:270.72px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">cole</span></div>
        <div style="position:absolute;left:367.37px;top:270.72px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">ppris</span></div>
        <div style="position:absolute;left:404.38px;top:270.72px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">cole</span><span class="cls_004"> 1</span></div>
        <div style="position:absolute;left:212.86px;top:286.89px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 1</span></div>
        <div style="position:absolute;left:404.38px;top:285.22px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">ffinité</span></div>
        <div style="position:absolute;left:493.90px;top:285.22px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">éficience</span></div>
        <div style="position:absolute;left:212.86px;top:301.01px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:404.38px;top:301.01px" class="cls_004"><span class="cls_004">T</span><span class="cls_005">echnique</span></div>
        <div style="position:absolute;left:212.86px;top:339.53px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 2</span></div>
        <div style="position:absolute;left:404.38px;top:339.53px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">cole</span><span class="cls_004"> 2</span></div>
        <div style="position:absolute;left:212.86px;top:353.65px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:404.38px;top:353.65px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">ffinité</span></div>
        <div style="position:absolute;left:493.90px;top:353.65px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">éficience</span></div>
        <div style="position:absolute;left:404.38px;top:368.15px" class="cls_004"><span class="cls_004">T</span><span class="cls_005">echnique</span></div>
        <div style="position:absolute;left:212.86px;top:392.17px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 3</span></div>
        <div style="position:absolute;left:212.86px;top:406.29px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:404.38px;top:406.67px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">cole</span><span class="cls_004"> 3</span></div>
        <div style="position:absolute;left:404.38px;top:420.79px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">ffinité</span></div>
        <div style="position:absolute;left:493.90px;top:420.79px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">éficience</span></div>
        <div style="position:absolute;left:404.38px;top:435.29px" class="cls_004"><span class="cls_004">T</span><span class="cls_005">echnique</span></div>
        <div style="position:absolute;left:212.86px;top:444.81px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 4</span></div>
        <div style="position:absolute;left:212.86px;top:458.93px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:404.38px;top:476.81px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">cole</span><span class="cls_004"> 4</span></div>
        <div style="position:absolute;left:53.68px;top:488.83px" class="cls_032"><span class="cls_032">S :</span><span class="cls_033"> dans le Sac du Personnage ou sur lui-même /</span><span class="cls_034"> </span><span class="cls_032">L :</span><span class="cls_033"> Laissé chez Soi</span></div>
        <div style="position:absolute;left:404.38px;top:491.08px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">ffinité</span></div>
        <div style="position:absolute;left:493.90px;top:491.09px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">éficience</span></div>
        <div style="position:absolute;left:212.86px;top:497.45px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 5</span></div>
        <div style="position:absolute;left:108.91px;top:501.31px" class="cls_026"><span class="cls_026">rgent</span></div>
        <div style="position:absolute;left:101.86px;top:498.31px" class="cls_025"><span class="cls_025">A</span></div>
        <div style="position:absolute;left:404.38px;top:505.59px" class="cls_004"><span class="cls_004">T</span><span class="cls_005">echnique</span></div>
        <div style="position:absolute;left:49.37px;top:513.45px" class="cls_004"><span class="cls_004">K</span><span class="cls_005">oku</span></div>
        <div style="position:absolute;left:99.69px;top:513.45px" class="cls_004"><span class="cls_004">B</span><span class="cls_005">u</span></div>
        <div style="position:absolute;left:150.00px;top:513.45px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">eni</span></div>
        <div style="position:absolute;left:212.86px;top:511.57px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:102.39px;top:538.28px" class="cls_035"><span class="cls_035">1 Koku = 5 Bu = 50 Zeni / 1 Bu = 10 Zeni</span></div>
        <div style="position:absolute;left:175.94px;top:558.43px" class="cls_025"><span class="cls_025">R</span><span class="cls_026">ègles</span><span class="cls_025"> S</span><span class="cls_026">pécifiques</span></div>
        <div style="position:absolute;left:478.31px;top:557.43px" class="cls_025"><span class="cls_025">K</span><span class="cls_026">atas</span></div>
        <div style="position:absolute;left:404.38px;top:573.46px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:404.38px;top:587.96px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:499.48px;top:587.96px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:404.38px;top:597.56px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:404.38px;top:613.35px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:404.38px;top:634.61px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:404.38px;top:649.11px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:499.48px;top:649.11px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:404.38px;top:658.71px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:404.38px;top:674.50px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:404.38px;top:695.76px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:404.38px;top:710.26px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:499.48px;top:710.26px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:404.38px;top:719.86px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:404.38px;top:735.65px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
    </div>
</page>
<page>
    <div style="position:absolute;left:50%;margin-left:-308px;top:1604px;width:616px;height:792px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="{{ root }}/bundles/l5a/images/1607f848-8b45-11e8-b59b-0cc47a792c0a_id_1607f848-8b45-11e8-b59b-0cc47a792c0a_files/background3.jpg" width=616 height=792></div>
        <div style="position:absolute;left:226.60px;top:33.37px" class="cls_025"><span class="cls_025">F</span><span class="cls_026">euille</span><span class="cls_025"> S</span><span class="cls_026">pécifique</span><span class="cls_025"> </span><span class="cls_026">aux</span><span class="cls_025"> P</span><span class="cls_026">ersonnages</span><span class="cls_025"> B</span><span class="cls_026">ushi</span></div>
        <div style="position:absolute;left:85.49px;top:55.85px" class="cls_025"><span class="cls_025">T</span><span class="cls_026">echniques</span><span class="cls_025"> </span><span class="cls_026">d</span><span class="cls_025">’É</span><span class="cls_026">cole</span></div>
        <div style="position:absolute;left:270.81px;top:55.85px" class="cls_025"><span class="cls_025">T</span><span class="cls_026">echniques</span><span class="cls_025"> </span><span class="cls_026">d</span><span class="cls_025">’É</span><span class="cls_026">cole</span></div>
        <div style="position:absolute;left:456.13px;top:55.85px" class="cls_025"><span class="cls_025">T</span><span class="cls_026">echniques</span><span class="cls_025"> </span><span class="cls_026">d</span><span class="cls_025">’É</span><span class="cls_026">cole</span></div>
        <div style="position:absolute;left:39.94px;top:70.87px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">cole</span></div>
        <div style="position:absolute;left:188.50px;top:70.87px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">ppris</span></div>
        <div style="position:absolute;left:225.27px;top:70.87px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">cole</span></div>
        <div style="position:absolute;left:373.83px;top:70.87px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">ppris</span></div>
        <div style="position:absolute;left:410.59px;top:70.87px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">cole</span></div>
        <div style="position:absolute;left:559.15px;top:70.87px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">ppris</span></div>
        <div style="position:absolute;left:39.94px;top:87.38px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 1</span></div>
        <div style="position:absolute;left:225.27px;top:87.38px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 1</span></div>
        <div style="position:absolute;left:410.59px;top:87.38px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 1</span></div>
        <div style="position:absolute;left:39.94px;top:109.67px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.26px;top:109.67px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:109.67px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:39.94px;top:179.70px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 2</span></div>
        <div style="position:absolute;left:225.27px;top:179.70px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 2</span></div>
        <div style="position:absolute;left:410.59px;top:179.70px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 2</span></div>
        <div style="position:absolute;left:39.94px;top:201.99px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.26px;top:201.99px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:201.99px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:39.94px;top:272.02px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 3</span></div>
        <div style="position:absolute;left:225.27px;top:272.02px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 3</span></div>
        <div style="position:absolute;left:410.59px;top:272.02px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 3</span></div>
        <div style="position:absolute;left:39.94px;top:294.31px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.26px;top:294.31px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:294.31px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:39.94px;top:364.35px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 4</span></div>
        <div style="position:absolute;left:225.27px;top:364.35px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 4</span></div>
        <div style="position:absolute;left:410.59px;top:364.35px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 4</span></div>
        <div style="position:absolute;left:39.94px;top:386.64px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.26px;top:386.64px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:386.64px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:39.94px;top:456.67px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 5</span></div>
        <div style="position:absolute;left:225.27px;top:456.67px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 5</span></div>
        <div style="position:absolute;left:410.59px;top:456.67px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> 5</span></div>
        <div style="position:absolute;left:39.94px;top:478.96px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.26px;top:478.96px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:478.96px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:110.77px;top:557.43px" class="cls_025"><span class="cls_025">K</span><span class="cls_026">atas</span></div>
        <div style="position:absolute;left:296.09px;top:557.43px" class="cls_025"><span class="cls_025">K</span><span class="cls_026">atas</span></div>
        <div style="position:absolute;left:481.41px;top:557.43px" class="cls_025"><span class="cls_025">K</span><span class="cls_026">atas</span></div>
        <div style="position:absolute;left:39.94px;top:573.46px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:225.27px;top:573.46px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:410.59px;top:573.46px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:39.94px;top:587.96px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:131.93px;top:587.96px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:225.27px;top:587.96px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:317.26px;top:587.96px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:410.59px;top:587.96px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:502.58px;top:587.96px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:39.94px;top:597.56px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:225.26px;top:597.56px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:410.59px;top:597.56px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:39.94px;top:613.35px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.27px;top:613.35px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:613.35px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:39.94px;top:634.61px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:225.27px;top:634.61px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:410.59px;top:634.61px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:39.94px;top:649.11px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:131.93px;top:649.11px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:225.27px;top:649.11px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:317.26px;top:649.11px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:410.59px;top:649.11px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:502.58px;top:649.11px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:39.94px;top:658.71px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:225.26px;top:658.71px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:410.58px;top:658.71px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:39.94px;top:674.50px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.27px;top:674.50px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:674.50px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:39.94px;top:695.76px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:225.27px;top:695.76px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:410.59px;top:695.76px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:39.94px;top:710.26px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:131.93px;top:710.26px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:225.27px;top:710.26px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:317.26px;top:710.26px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:410.59px;top:710.26px" class="cls_004"><span class="cls_004">A</span><span class="cls_005">nneau</span><span class="cls_004">/</span></div>
        <div style="position:absolute;left:502.58px;top:710.26px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:39.94px;top:719.86px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:225.26px;top:719.86px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:410.58px;top:719.86px" class="cls_004"><span class="cls_004">M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:39.94px;top:735.65px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.27px;top:735.65px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:735.65px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
    </div>
</page>
<page>
    <div style="position:absolute;left:50%;margin-left:-308px;top:2406px;width:616px;height:792px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="{{ root }}/bundles/l5a/images/1607f848-8b45-11e8-b59b-0cc47a792c0a_id_1607f848-8b45-11e8-b59b-0cc47a792c0a_files/background4.jpg" width=616 height=792></div>
        <div style="position:absolute;left:206.62px;top:33.37px" class="cls_025"><span class="cls_025">F</span><span class="cls_026">euille</span><span class="cls_025"> S</span><span class="cls_026">pécifique</span><span class="cls_025"> </span><span class="cls_026">aux</span><span class="cls_025"> P</span><span class="cls_026">ersonnages</span><span class="cls_025"> S</span><span class="cls_026">hugenja</span></div>
        <div style="position:absolute;left:280.85px;top:55.85px" class="cls_025"><span class="cls_025">S</span><span class="cls_026">orts</span><span class="cls_025"> & K</span><span class="cls_026">iho</span></div>
        <div style="position:absolute;left:39.94px;top:70.87px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:126.66px;top:70.87px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:225.27px;top:70.87px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:311.98px;top:70.87px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:410.59px;top:70.87px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:497.31px;top:70.87px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:39.94px;top:85.05px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:126.66px;top:85.05px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:225.27px;top:85.05px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:311.98px;top:85.05px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:410.59px;top:85.05px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:497.31px;top:85.05px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:39.94px;top:99.22px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:126.66px;top:99.22px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:225.27px;top:99.22px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:311.98px;top:99.22px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:410.59px;top:99.22px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:497.31px;top:99.22px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:39.94px;top:115.39px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.27px;top:115.39px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:115.39px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:39.94px;top:167.25px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:126.66px;top:167.25px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:225.27px;top:167.25px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:311.98px;top:167.25px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:410.59px;top:167.25px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:497.31px;top:167.25px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:39.94px;top:181.42px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:126.66px;top:181.42px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:225.27px;top:181.42px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:311.98px;top:181.42px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:410.59px;top:181.42px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:497.31px;top:181.42px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:39.94px;top:195.60px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:126.66px;top:195.60px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:225.27px;top:195.60px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:311.98px;top:195.60px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:410.59px;top:195.60px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:497.31px;top:195.60px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:39.94px;top:211.77px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.27px;top:211.77px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:211.77px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:39.94px;top:263.63px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:126.66px;top:263.63px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:225.27px;top:263.63px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:311.98px;top:263.63px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:410.59px;top:263.63px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:497.31px;top:263.63px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:39.94px;top:277.80px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:126.66px;top:277.80px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:225.27px;top:277.80px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:311.98px;top:277.80px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:410.59px;top:277.80px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:497.31px;top:277.80px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:39.94px;top:291.98px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:126.66px;top:291.98px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:225.27px;top:291.98px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:311.98px;top:291.98px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:410.59px;top:291.98px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:497.31px;top:291.98px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:39.94px;top:308.15px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.27px;top:308.15px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:308.15px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:39.94px;top:360.01px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:126.66px;top:360.01px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:225.27px;top:360.01px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:311.98px;top:360.01px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:410.59px;top:360.01px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:497.31px;top:360.01px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:39.94px;top:374.18px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:126.66px;top:374.18px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:225.27px;top:374.18px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:311.98px;top:374.18px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:410.59px;top:374.18px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:497.31px;top:374.18px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:39.94px;top:388.35px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:126.66px;top:388.35px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:225.27px;top:388.35px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:311.98px;top:388.35px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:410.59px;top:388.35px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:497.31px;top:388.35px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:39.94px;top:404.53px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.27px;top:404.53px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:404.53px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:39.94px;top:456.39px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:126.66px;top:456.39px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:225.27px;top:456.39px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:311.98px;top:456.39px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:410.59px;top:456.39px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:497.31px;top:456.39px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:39.94px;top:470.56px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:126.66px;top:470.56px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:225.27px;top:470.56px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:311.98px;top:470.56px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:410.59px;top:470.56px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:497.31px;top:470.56px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:39.94px;top:484.73px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:126.66px;top:484.73px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:225.27px;top:484.73px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:311.98px;top:484.73px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:410.59px;top:484.73px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:497.31px;top:484.73px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:39.94px;top:500.90px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:225.27px;top:500.90px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:410.59px;top:500.90px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:39.94px;top:552.76px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:126.66px;top:552.76px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:39.94px;top:566.94px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:126.66px;top:566.94px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:330.15px;top:566.05px" class="cls_036"><span class="cls_036">Emplacements de Sort</span></div>
        <div style="position:absolute;left:39.94px;top:581.11px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:126.66px;top:581.11px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:39.94px;top:597.28px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:271.56px;top:596.54px" class="cls_020"><span class="cls_020">Air</span></div>
        <div style="position:absolute;left:266.24px;top:625.73px" class="cls_020"><span class="cls_020">Terre</span></div>
        <div style="position:absolute;left:39.94px;top:649.14px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:126.66px;top:649.14px" class="cls_004"><span class="cls_004">R</span><span class="cls_005">ang</span><span class="cls_004"> </span><span class="cls_005">de</span><span class="cls_004"> M</span><span class="cls_005">aîtrise</span></div>
        <div style="position:absolute;left:39.94px;top:663.31px" class="cls_004"><span class="cls_004">É</span><span class="cls_005">lément</span></div>
        <div style="position:absolute;left:126.66px;top:663.31px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">urée</span></div>
        <div style="position:absolute;left:271.69px;top:655.17px" class="cls_020"><span class="cls_020">Feu</span></div>
        <div style="position:absolute;left:39.94px;top:677.49px" class="cls_004"><span class="cls_004">Z</span><span class="cls_005">one</span><span class="cls_004"> </span><span class="cls_005">d</span><span class="cls_004">’E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:126.66px;top:677.49px" class="cls_004"><span class="cls_004">P</span><span class="cls_005">ortée</span></div>
        <div style="position:absolute;left:270.14px;top:684.58px" class="cls_020"><span class="cls_020">Eau</span></div>
        <div style="position:absolute;left:39.94px;top:693.66px" class="cls_004"><span class="cls_004">E</span><span class="cls_005">ffet</span></div>
        <div style="position:absolute;left:269.37px;top:713.89px" class="cls_020"><span class="cls_020">Vide</span></div>
    </div>
</page>
<page>
    <div style="position:absolute;left:50%;margin-left:-308px;top:3208px;width:616px;height:792px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="{{ root }}/bundles/l5a/images/1607f848-8b45-11e8-b59b-0cc47a792c0a_id_1607f848-8b45-11e8-b59b-0cc47a792c0a_files/background5.jpg" width=616 height=792></div>
        <div style="position:absolute;left:228.02px;top:32.37px" class="cls_025"><span class="cls_025">F</span><span class="cls_026">euille</span><span class="cls_025"> </span><span class="cls_026">de</span><span class="cls_025"> R</span><span class="cls_026">ésumé</span><span class="cls_025"> </span><span class="cls_026">de</span><span class="cls_025"> </span><span class="cls_026">la</span><span class="cls_025"> C</span><span class="cls_026">ampagne</span></div>
        <div style="position:absolute;left:167.54px;top:54.85px" class="cls_025"><span class="cls_025">P</span><span class="cls_026">ersonnages</span><span class="cls_025"> R</span><span class="cls_026">encontrés</span></div>
        <div style="position:absolute;left:444.11px;top:54.85px" class="cls_025"><span class="cls_025">A</span><span class="cls_026">lliés</span><span class="cls_025"> & E</span><span class="cls_026">nnemis</span></div>
        <div style="position:absolute;left:555.02px;top:55.35px" class="cls_027"><span class="cls_027">A</span></div>
        <div style="position:absolute;left:569.65px;top:55.85px" class="cls_023"><span class="cls_023">E</span></div>
        <div style="position:absolute;left:39.94px;top:70.87px" class="cls_004"><span class="cls_004">A</span></div>
        <div style="position:absolute;left:54.12px;top:70.87px" class="cls_004"><span class="cls_004">H</span></div>
        <div style="position:absolute;left:68.29px;top:70.87px" class="cls_004"><span class="cls_004">I</span></div>
        <div style="position:absolute;left:225.27px;top:70.87px" class="cls_004"><span class="cls_004">A</span></div>
        <div style="position:absolute;left:239.44px;top:70.87px" class="cls_004"><span class="cls_004">H</span></div>
        <div style="position:absolute;left:253.61px;top:70.87px" class="cls_004"><span class="cls_004">I</span></div>
        <div style="position:absolute;left:410.90px;top:70.87px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:520.26px;top:70.87px" class="cls_004"><span class="cls_004">S</span><span class="cls_005">tatut</span></div>
        <div style="position:absolute;left:410.90px;top:85.05px" class="cls_004"><span class="cls_004">I</span><span class="cls_005">nfluence</span></div>
        <div style="position:absolute;left:482.93px;top:85.05px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">évotion</span></div>
        <div style="position:absolute;left:410.90px;top:101.22px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">otes</span></div>
        <div style="position:absolute;left:410.90px;top:133.24px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:520.26px;top:133.24px" class="cls_004"><span class="cls_004">S</span><span class="cls_005">tatut</span></div>
        <div style="position:absolute;left:410.90px;top:147.41px" class="cls_004"><span class="cls_004">I</span><span class="cls_005">nfluence</span></div>
        <div style="position:absolute;left:482.93px;top:147.41px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">évotion</span></div>
        <div style="position:absolute;left:410.90px;top:163.58px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">otes</span></div>
        <div style="position:absolute;left:410.90px;top:195.60px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:520.26px;top:195.60px" class="cls_004"><span class="cls_004">S</span><span class="cls_005">tatut</span></div>
        <div style="position:absolute;left:410.90px;top:209.77px" class="cls_004"><span class="cls_004">I</span><span class="cls_005">nfluence</span></div>
        <div style="position:absolute;left:482.93px;top:209.77px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">évotion</span></div>
        <div style="position:absolute;left:410.90px;top:225.94px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">otes</span></div>
        <div style="position:absolute;left:410.90px;top:257.96px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:520.26px;top:257.96px" class="cls_004"><span class="cls_004">S</span><span class="cls_005">tatut</span></div>
        <div style="position:absolute;left:410.90px;top:272.13px" class="cls_004"><span class="cls_004">I</span><span class="cls_005">nfluence</span></div>
        <div style="position:absolute;left:482.93px;top:272.13px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">évotion</span></div>
        <div style="position:absolute;left:410.90px;top:288.31px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">otes</span></div>
        <div style="position:absolute;left:410.90px;top:320.32px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:520.26px;top:320.32px" class="cls_004"><span class="cls_004">S</span><span class="cls_005">tatut</span></div>
        <div style="position:absolute;left:410.90px;top:334.50px" class="cls_004"><span class="cls_004">I</span><span class="cls_005">nfluence</span></div>
        <div style="position:absolute;left:482.93px;top:334.50px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">évotion</span></div>
        <div style="position:absolute;left:410.90px;top:350.67px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">otes</span></div>
        <div style="position:absolute;left:410.90px;top:382.76px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">om</span></div>
        <div style="position:absolute;left:520.26px;top:382.76px" class="cls_004"><span class="cls_004">S</span><span class="cls_005">tatut</span></div>
        <div style="position:absolute;left:410.90px;top:396.93px" class="cls_004"><span class="cls_004">I</span><span class="cls_005">nfluence</span></div>
        <div style="position:absolute;left:482.93px;top:396.93px" class="cls_004"><span class="cls_004">D</span><span class="cls_005">évotion</span></div>
        <div style="position:absolute;left:410.90px;top:413.10px" class="cls_004"><span class="cls_004">N</span><span class="cls_005">otes</span></div>
        <div style="position:absolute;left:461.54px;top:457.00px" class="cls_025"><span class="cls_025">E</span><span class="cls_026">ndroits</span><span class="cls_025"> V</span><span class="cls_026">isités</span></div>
        <div style="position:absolute;left:306.39px;top:534.54px" class="cls_032"><span class="cls_032">A :</span><span class="cls_033"> Ami</span><span class="cls_035">    </span><span class="cls_032">H :</span><span class="cls_033"> Hostile</span><span class="cls_035">    </span><span class="cls_032">I :</span><span class="cls_033"> Indeterminé</span></div>
        <div style="position:absolute;left:177.21px;top:564.14px" class="cls_025"><span class="cls_025">N</span><span class="cls_026">otes</span><span class="cls_025"> </span><span class="cls_026">de</span><span class="cls_025"> C</span><span class="cls_026">ampagne</span></div>
        <div style="position:absolute;left:95.32px;top:580.13px" class="cls_004"><span class="cls_004">O</span><span class="cls_005">bjectifs</span><span class="cls_004"> </span><span class="cls_005">à</span><span class="cls_004"> C</span><span class="cls_005">ourt</span><span class="cls_004"> T</span><span class="cls_005">erme</span></div>
        <div style="position:absolute;left:272.68px;top:580.13px" class="cls_004"><span class="cls_004">O</span><span class="cls_005">bjectifs</span><span class="cls_004"> </span><span class="cls_005">à</span><span class="cls_004"> L</span><span class="cls_005">ong</span><span class="cls_004"> T</span><span class="cls_005">erme</span></div>
    </div>


</page>